<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-distributor-form-id">Id</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input id="admin-distributor-form-id" class="u-form-input" type="text" [value]="distributor.id" disabled />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-distributor-form-name">Nazwa</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input id="admin-distributor-form-name" class="u-form-input" type="text" [(ngModel)]="distributor.name" />
  </div>
</div>
