@import 'configs-and-mixins';

.ClickableAction {
  display: inline-block;

  .ClickableAction-button,
  .ClickableAction-anchor,
  .ClickableAction-routerLink {
    display: block;
    height: 40px;
    min-width: 40px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    white-space: nowrap;
    padding: 0 8px 0 8px;

    &:hover {
      opacity: 0.9;
    }
    > span {
      display: inline-block;
      &.ClickableAction-label {
        font-size: 16px;
      }
      &.ClickableAction-icon {
        position: relative;
      }

      .ClickableAction-number {
        position: absolute;
        bottom: -3px;
        right: -3px;
        min-width: 14px;
        height: 14px;
        background-color: #bf4e4e;
        border-radius: 7px;
        font-size: 8px;
        line-height: 1em;
        display: block;
        b {
          display: block;
          padding-top: 3px;
          font-weight: normal;
          color: white;
          text-align: center;
          @include font-secondary;
        }
      }
    }
  }

  .ClickableAction-anchor,
  .ClickableAction-routerLink {
    > span {
      &.ClickableAction-label {
        padding: 11px 12px 0 12px;
      }
      &.ClickableAction-icon {
        padding: 8px 0 0 0;
      }
    }
  }

  .ClickableAction-button {
    > span {
      position: relative;
      &.ClickableAction-label {
        top: 0;
        padding: 0 12px;
      }
      &.ClickableAction-icon {
        top: 0;
        padding: 0 0 0 0;
      }
    }
  }
}

.ClickableAction--iconOnRight {
  .ClickableAction-button,
  .ClickableAction-anchor,
  .ClickableAction-routerLink {
    padding-right: 20px;
  }
}

.ClickableAction--disabled {
  > * {
    background-color: $secondary-background-color;
    color: $color;
  }
}

.ClickableAction--primary {
  > * {
    background-color: $clickable-action-primary-background-color;
    color: $clickable-action-primary-color;
  }
}

.ClickableAction--secondary {
  // TODO implement ClickableAction--secondary
}

.ClickableAction--transparentBright {
  > * {
    background-color: $clickable-action-transparent-background-color;
    color: $white-color;
  }
}

.ClickableAction--transparentDark {
  > * {
    background-color: $clickable-action-transparent-background-color;
    color: $clickable-action-transparent-color;
  }
}
