<div
  [ngClass]="{
    'ClickableAction--disabled': disabled,
    'ClickableAction--primary': clickableActionTheme === ClickableActionTheme.Primary,
    'ClickableAction--secondary': clickableActionTheme === ClickableActionTheme.Secondary,
    'ClickableAction--transparentBright': clickableActionTheme === ClickableActionTheme.TransparentBright,
    'ClickableAction--transparentDark': clickableActionTheme === ClickableActionTheme.TransparentDark,
    'ClickableAction--iconOnRight': iconType && label
  }"
  [ngSwitch]="clickableActionType"
  class="ClickableAction"
>
  <a *ngSwitchCase="ClickableActionType.Anchor" class="ClickableAction-anchor" [href]="link" [target]="target">
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </a>

  <button
    (click)="onActionClick($event)"
    (keyup.enter)="onActionClick($event)"
    *ngSwitchCase="ClickableActionType.Button"
    class="ClickableAction-button"
  >
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </button>

  <a *ngSwitchCase="ClickableActionType.RouterLink" class="ClickableAction-routerLink" [routerLink]="link">
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </a>
</div>

<ng-template #content>
  <span *ngIf="label" class="ClickableAction-label">{{ label }}</span>
  <span *ngIf="iconType" class="ClickableAction-icon">
    <rr-shop-icon [iconType]="iconType" [width]="24" [height]="24"></rr-shop-icon>
    <span
      *ngIf="number !== null"
      class="ClickableAction-number"
      [ngClass]="{ 'ClickableAction-numberZero': number === 0 }"
      ><b>{{ number }}</b></span
    >
  </span>
</ng-template>
