@import 'configs-and-mixins';

.ClickableAction {
  display: inline-block;
}

.ClickableAction-button,
.ClickableAction-anchor,
.ClickableAction-routerLink {
  display: block;
  height: 40px;
  min-width: 40px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;
  font-family: inherit;
  white-space: nowrap;
  padding: 0 7px 0 7px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
  > span {
    display: inline-block;
    &.ClickableAction-label {
      font-size: 16px;
    }
    &.ClickableAction-icon {
      position: relative;
      > * {
        display: block;
      }
    }

    .ClickableAction-number {
      position: absolute;
      bottom: -6px;
      right: -12px;
      min-width: 16px;
      height: 16px;
      background-color: $green-color;
      border-radius: 8px;
      font-size: 10px;
      line-height: 1em;
      display: block;

      b {
        display: block;
        padding-top: 3px;
        font-weight: normal;
        color: $white-color;
        text-align: center;
        @include font-secondary;
      }

      &.ClickableAction-numberZero {
        background-color: $basket-number-not-active-color;
      }
    }
  }
}

.ClickableAction-anchor,
.ClickableAction-routerLink {
  > span {
    &.ClickableAction-label {
      padding: 11px 12px 0 12px;
    }
    &.ClickableAction-icon {
      padding: 8px 0 0 0;
    }
  }
}

.ClickableAction-button {
  > span {
    position: relative;
    &.ClickableAction-label {
      top: 0;
      padding: 0 12px;
    }
    &.ClickableAction-icon {
      top: 0;
      padding: 0 0 0 0;
    }
  }
}

.ClickableAction--iconOnRight {
  .ClickableAction-button,
  .ClickableAction-anchor,
  .ClickableAction-routerLink {
    padding-right: 20px;
  }
}

.ClickableAction--disabled {
  > * {
    background-color: $clickable-action-disabled-background-color !important;
    color: $clickable-action-disabled-color !important;
    border-color: $clickable-action-disabled-border-color !important;
    cursor: not-allowed !important;
  }
}

.ClickableAction--primary {
  > * {
    background-color: $clickable-action-primary-background-color;
    color: $clickable-action-primary-color;
    border-color: $clickable-action-primary-border-color;
  }
}

.ClickableAction--secondary {
  > * {
    background-color: transparent;
    color: $white-color;
    border-color: $white-color;
  }
}

.ClickableAction--transparentBright {
  > * {
    background-color: $clickable-action-transparent-background-color;
    color: $white-color;
    border-width: 0 !important;
  }
}

.ClickableAction--transparentDark {
  > * {
    background-color: $clickable-action-transparent-background-color;
    color: $clickable-action-transparent-color;
    border-width: 0 !important;
  }
}
