@import 'configs-and-mixins';

.AdminOrder-header {
  font-size: 20px;
  line-height: 1em;
  strong {
    float: right;
    display: inline-block;
  }
}

.AdminOrder-priceReduction {
  padding-top: 8px;
  > div:last-child {
    text-decoration: line-through;
  }
}

td a {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
