<div
  [ngClass]="{
    'u-block-overlay':
      order?.adminCallState === AdminCallState.Request || orderStatus?.adminCallState === AdminCallState.Request
  }"
>
  <rr-shop-admin-menu></rr-shop-admin-menu>

  <h2>Admin / zamówienie / {{ order?.data?.number }}</h2>

  <div class="u-admin-section u-admin-buttons">
    <rr-shop-clickable-action (actionClick)="refresh()" label="Odśwież"></rr-shop-clickable-action>
  </div>

  <div *ngIf="order?.data as d">
    <div class="u-admin-section">
      <h4>Status zamówienia</h4>
      <div class="u-admin-buttons">
        <rr-shop-clickable-action
          (actionClick)="setStatus(Status.PaymentCompleted)"
          [iconType]="d?.status === Status.PaymentCompleted ? IconType.FarCheckCircle : null"
          [label]="Status.PaymentCompleted | orderStatus"
        ></rr-shop-clickable-action>
        <rr-shop-clickable-action
          (actionClick)="setStatus(Status.ReadyForPickup)"
          [iconType]="d?.status === Status.ReadyForPickup ? IconType.FarCheckCircle : null"
          [label]="Status.ReadyForPickup | orderStatus"
        ></rr-shop-clickable-action>
        <rr-shop-clickable-action
          (actionClick)="setStatus(Status.Shipped)"
          [iconType]="d?.status === Status.Shipped ? IconType.FarCheckCircle : null"
          [label]="Status.Shipped | orderStatus"
        ></rr-shop-clickable-action>
        <rr-shop-clickable-action
          (actionClick)="setStatus(Status.Completed)"
          [iconType]="d?.status === Status.Completed ? IconType.FarCheckCircle : null"
          [label]="Status.Completed | orderStatus"
        ></rr-shop-clickable-action>
        <rr-shop-clickable-action
          (actionClick)="setStatus(Status.Canceled)"
          [iconType]="d?.status === Status.Canceled ? IconType.FarCheckCircle : null"
          [label]="Status.Canceled | orderStatus"
        ></rr-shop-clickable-action>
      </div>
    </div>

    <div class="u-admin-section">
      <h4>Produkty</h4>
      <div *ngIf="d.orderItems as orderItems">
        <table class="u-compact-table">
          <tr>
            <th>Lp.</th>
            <th>Obrazek</th>
            <th>Nazwa</th>
            <th>Cena <br />ze strony</th>
            <th>Liczba</th>
            <th>Cena <br />po rabacie</th>
            <th>Wartość</th>
          </tr>
          <tr
            *ngFor="let orderItem of orderItems; index as index"
            [ngClass]="{ 'u-gray': orderItem.type !== Type.Product }"
          >
            <td>{{ index + 1 }}</td>
            <td>
              <rr-shop-slider-image
                *ngIf="orderItem.type === Type.Product"
                [images]="orderItem.product.images"
                [sizeImage]="SizeImage.Px0128"
                [sizeImageContainer]="SizeImageContainer.Px0064"
              ></rr-shop-slider-image>
            </td>
            <td>
              <div class="clearfix AdminOrder-header">
                {{ orderItem.name }}
                <strong>{{ orderItem.product.externalId }}</strong>
              </div>

              <ng-container *ngIf="orderItem.type === Type.Product">
                <br /><br />
                Stan magazynu - tutaj możesz oznaczyć produkty, które fizycznie trafiły do zamówienia:
                <br /><br />

                <table class="u-compact-table">
                  <tr>
                    <th>Lp.</th>
                    <th>Vat</th>
                    <th>Cena zakupu brutto</th>
                    <th>Data ważności</th>
                    <th>Dostępność</th>
                    <th>Utworzony</th>
                    <th>Zmodyfikowany</th>
                    <th>W zamówieniu...</th>
                    <th>...o statusie</th>
                    <th>Akcje</th>
                  </tr>
                  <tr
                    *ngFor="let supply of orderItem.product.supplies; index as indexInner"
                    [ngClass]="{
                      'u-gray': supply?.orderItem?.id && supply?.orderItem?.id !== orderItem.id,
                      'u-green': supply?.orderItem?.id === orderItem.id
                    }"
                  >
                    <td>{{ indexInner + 1 }}</td>
                    <td>{{ supply.vat }}</td>
                    <td>{{ supply.priceUnitGross | price }}</td>
                    <td>{{ supply.bestBefore | dateCustom }}</td>
                    <td>{{ supply.isUnavailable ? 'nie dostępny' : 'dostępny' }}</td>
                    <td>{{ supply.createdAt | dateCustom }}</td>
                    <td>{{ supply.updatedAt | dateCustom }}</td>
                    <td>
                      {{
                        supply?.orderItem?.id === orderItem.id ? 'to które widzisz' : supply?.orderItem?.order?.number
                      }}
                    </td>
                    <td>
                      {{
                        supply?.orderItem?.id === orderItem.id ? '' : (supply?.orderItem?.order?.status | orderStatus)
                      }}
                    </td>
                    <td>
                      <a (click)="supplyOrderItemAttach(supply.id, orderItem.id)" *ngIf="!supply?.orderItem?.id">
                        przypisz
                      </a>
                      <a (click)="supplyOrderItemDetach(supply.id)" *ngIf="supply?.orderItem?.id === orderItem.id">
                        usuń
                      </a>
                    </td>
                  </tr>
                </table>
              </ng-container>
            </td>
            <td
              [ngClass]="{
                'u-red': orderItem.priceUnitBeforePromotionOriginal
              }"
            >
              <div>
                {{ orderItem.priceUnitOriginal | price }}
              </div>
              <div *ngIf="orderItem.priceUnitBeforePromotionOriginal" class="AdminOrder-priceReduction">
                <ng-container *ngIf="orderItem.priceUnitBeforePromotionOriginal > 0; else outlet">
                  <div>Promocja</div>
                  <div>{{ -orderItem.priceUnitBeforePromotionOriginal | price }}</div>
                </ng-container>
                <ng-template #outlet>
                  <div>Outlet</div>
                  <div>{{ -orderItem.priceUnitBeforePromotionOriginal | price }}</div>
                </ng-template>
              </div>
            </td>
            <td>{{ orderItem.quantity }}</td>
            <td>{{ orderItem.priceUnitSelling | price }}</td>
            <td>{{ orderItem.priceUnitSelling * orderItem.quantity | price }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="u-admin-section">
      <h4>Podsumowanie</h4>
      <div>
        <table class="u-compact-table" style="width: 280px">
          <tr>
            <td>Wartość przed rabatem</td>
            <td>{{ getPriceTotalOriginal(d.orderItems) | price }}</td>
          </tr>
          <tr>
            <td>Wartość po rabacie</td>
            <td>{{ getPriceTotalSelling(d.orderItems) | price }}</td>
          </tr>
          <tr>
            <td>Rabat kwotowy</td>
            <td
              [ngClass]="{
                'u-red': getPriceTotalOriginalSellingDifference(d.orderItems)
              }"
            >
              {{ getPriceTotalOriginalSellingDifference(d.orderItems) | price }}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div *ngIf="d.emails as emails" class="u-admin-section">
      <h4>Maile</h4>
      <div>
        <table class="u-compact-table">
          <tr>
            <th>Lp.</th>
            <th>Tytuł</th>
            <th>Nadawca</th>
            <th>Utworzono</th>
            <th>Wysłano</th>
          </tr>
          <tr *ngFor="let item of emails; index as index">
            <td>{{ index + 1 }}</td>
            <td>{{ item.subject }}</td>
            <td>{{ item.to }}</td>
            <td>{{ item.createdAt | dateCustom }}</td>
            <td>{{ item.updatedAt | dateCustom }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="u-admin-section">
      <h4>Surowe dane :)</h4>
      <div>
        <pre class="u-formatted-json">{{ d | json }}</pre>
      </div>
    </div>
  </div>
</div>
