<rr-shop-admin-menu></rr-shop-admin-menu>

<h2>Admin / zamówienie / {{ order?.data?.number }}</h2>

<div class="margin-bottom">
  <rr-shop-clickable-action (actionClick)="refresh()" label="'Odśwież'"></rr-shop-clickable-action>
</div>

<div class="margin-bottom">
  <div *ngIf="order?.adminCallState === AdminCallState.Request">Wczytywanie zamówienia...</div>
  <div *ngIf="order?.adminCallState === AdminCallState.Failure">
    Błąd podczas ładowania zamówienia
    <pre>{{ order?.errorDetails | json }}</pre>
  </div>
</div>

<div class="margin-bottom">
  <!--  <rr-shop-clickable-action-->
  <!--    (actionClick)="setStatus(Status.PaymentWait)"-->
  <!--    [label]="Status.PaymentWait | orderStatus"-->
  <!--  ></rr-shop-clickable-action>-->
  <rr-shop-clickable-action
    (actionClick)="setStatus(Status.PaymentCompleted)"
    [label]="Status.PaymentCompleted | orderStatus"
  ></rr-shop-clickable-action>
  <rr-shop-clickable-action
    (actionClick)="setStatus(Status.ReadyForPickup)"
    [label]="Status.ReadyForPickup | orderStatus"
  ></rr-shop-clickable-action>
  <rr-shop-clickable-action
    (actionClick)="setStatus(Status.Shipped)"
    [label]="Status.Shipped | orderStatus"
  ></rr-shop-clickable-action>
  <rr-shop-clickable-action
    (actionClick)="setStatus(Status.Completed)"
    [label]="Status.Completed | orderStatus"
  ></rr-shop-clickable-action>
  <rr-shop-clickable-action
    (actionClick)="setStatus(Status.Canceled)"
    [label]="Status.Canceled | orderStatus"
  ></rr-shop-clickable-action>
</div>

<div class="margin-bottom">
  <div *ngIf="orderStatus?.adminCallState === AdminCallState.Request">Zmiana statusu</div>
  <div *ngIf="orderStatus?.adminCallState === AdminCallState.Failure">
    Błąd podczas zmiany statusu
    <pre>{{ orderStatus?.errorDetails | json }}</pre>
  </div>
</div>

<div *ngIf="order?.data as d">
  <h3>Aktualny status</h3>
  <div class="margin-bottom">
    <strong>{{ order?.data?.status | orderStatus }}</strong>
  </div>

  <h3>Produkty</h3>
  <div *ngIf="d.orderItems as orderItems" class="margin-bottom">
    <table class="u-compact-table">
      <tr>
        <th>Lp.</th>
        <th>Obrazek</th>
        <th>Nazwa</th>
        <th>Cena oryg.</th>
        <th>Liczba</th>
        <th>Cena</th>
        <th>Wartość</th>
      </tr>
      <tr
        *ngFor="let orderItem of orderItems; index as index"
        [ngClass]="{ 'u-gray': orderItem.type !== Type.Product }"
      >
        <td>{{ index + 1 }}</td>
        <td>
          <rr-shop-image
            *ngIf="orderItem.type === Type.Product"
            [images]="orderItem.product.images"
            [sizeImage]="SizeImage.Px0128"
            [sizeImageContainer]="SizeImageContainer.Px0064"
          ></rr-shop-image>
        </td>
        <td>
          <div class="clearfix admin-order-item-header">
            {{ orderItem.name }}
            <strong>{{ orderItem.product.externalId }}</strong>
          </div>

          <ng-container *ngIf="orderItem.type === Type.Product">
            <br /><br />
            Stan magazynu - proszę oznaczyć produkty, które fizycznie trafiły do zamówienia:
            <br/><br/>

            <table class="u-compact-table">
              <tr>
                <th>Lp.</th>
                <th>Vat</th>
                <th>Cena brutto</th>
                <th>Data ważności</th>
                <th>Dostępność</th>
                <th>Utworzony</th>
                <th>Zmodyfikowany</th>
                <th>W zamówieniu...</th>
                <th>...o statusie</th>
                <th>Akcje</th>
              </tr>
              <tr
                *ngFor="let supply of orderItem.product.supplies; index as indexInner"
                [ngClass]="{
                  'u-gray': supply?.orderItem?.id && supply?.orderItem?.id !== orderItem.id,
                  'u-green': supply?.orderItem?.id === orderItem.id
                }"
              >
                <td>{{ indexInner + 1 }}</td>
                <td>{{ supply.vat }}</td>
                <td>{{ supply.priceUnitGross | price }}</td>
                <td>{{ supply.bestBefore | dateCustom }}</td>
                <td>{{ supply.isUnavailable ? 'nie dostępny' : 'dostępny' }}</td>
                <td>{{ supply.createdAt | dateCustom }}</td>
                <td>{{ supply.updatedAt | dateCustom }}</td>
                <td>{{ supply?.orderItem?.order?.number }}</td>
                <td>{{ supply?.orderItem?.order?.status | orderStatus }}</td>
                <td>
                  <a
                    (click)="supplyOrderItemAttach(supply.id, orderItem.id)"
                    *ngIf="!supply?.orderItem?.id"
                  >
                    przypisz
                  </a>
                  <a
                    (click)="supplyOrderItemDetach(supply.id)"
                    *ngIf="supply?.orderItem?.id === orderItem.id"
                  >
                    usuń
                  </a>
                </td>
              </tr>
            </table>

            <br /><br />

            <table class="u-compact-table">
              <tr>
                <th>Lp.</th>
                <th>Vat</th>
                <th>Cena brutto</th>
                <th>Data ważności</th>
                <th>Dostępność</th>
                <th>Utworzony</th>
                <th>Zmodyfikowany</th>
              </tr>
              <tr *ngFor="let supply of orderItem.supplies; index as indexInner" [ngClass]="{ 'u-greeb': false }">
                <td>{{ indexInner + 1 }}</td>
                <td>{{ supply.vat }}</td>
                <td>{{ supply.priceUnitGross | price }}</td>
                <td>{{ supply.bestBefore | dateCustom }}</td>
                <td>{{ supply.isUnavailable ? 'nie dostępny' : 'dostępny' }}</td>
                <td>{{ supply.createdAt | dateCustom }}</td>
                <td>{{ supply.updatedAt | dateCustom }}</td>
              </tr>
            </table>
          </ng-container>
        </td>
        <td>{{ orderItem.priceUnitOriginal | price }}</td>
        <td>{{ orderItem.quantity }}</td>
        <td>{{ orderItem.priceUnitSelling | price }}</td>
        <td>{{ orderItem.priceUnitSelling * orderItem.quantity | price }}</td>
      </tr>
    </table>
  </div>

  <h3>Maile</h3>
  <div *ngIf="d.emails as emails" class="margin-bottom">
    <table class="u-compact-table">
      <tr>
        <th>Lp.</th>
        <th>Tytuł</th>
        <th>Nadawca</th>
        <th>Utworzono</th>
        <th>Wysłano</th>
      </tr>
      <tr *ngFor="let item of emails; index as index">
        <td>{{ index + 1 }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.to }}</td>
        <td>{{ item.createdAt | dateCustom }}</td>
        <td>{{ item.updatedAt | dateCustom }}</td>
      </tr>
    </table>
  </div>
  <pre class="u-formatted-json">{{ d | json }}</pre>
</div>
