@import '~src/styles/configs-and-mixins';

.ProductBoxCompact {
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  margin-bottom: 2 * $gutter-width;
  text-align: center;
  border: 1px solid $light-gray-color;
  border-radius: 20px;
  transition: border 0.2s, background-color 0.2s;

  a {
    display: block;
    > *:not(span) {
      transition: transform 0.2s;
    }
  }

  &:hover {
    background-color: $light-gray-color;
    a > *:not(span) {
      transform: scale(1.1);
    }
  }

  .ProductBoxCompact-link {
    .ProductBoxCompact-image {
      display: block;
      height: 200px;
      width: 200px;
      margin: 0 auto;
    }
    span {
      display: block;
      padding: 10px 4px 0 4px;
      color: $product-box-name-color;
      line-height: 1.3em;
    }
  }

  .ProductBoxCompact-promotion {
    font-size: 20px;
    color: $green-color;
    font-weight: bold;
    padding-top: $gutter-width;
  }

  .ProductBoxCompact-priceUnit {
    padding: $gutter-width 0;

    > span {
      display: inline-block;
    }
    > span.ProductBoxCompact-priceUnitBeforePromotion {
      padding: 0 8px 0 0;
      text-decoration: line-through;
    }
    > span:last-child {
      font-size: 20px;
      color: $product-box-price-color;
      font-weight: bold;
    }
  }

  .ProductBoxCompact-alreadyInBasketQuantity {
    padding: 12px 0;
    display: inline-block;
  }

  .ProductBoxCompact-alreadyInBasketActions {
    display: inline-block;
    padding-left: 8px;
    > *:last-child {
      margin-left: 4px;
    }
  }

  .ProductBoxCompact-alreadyInBasketNotification {
    padding: 8px 4px 0 4px;
  }

  rr-shop-clickable-action {
    display: inline-block;
  }
}

.ProductBoxCompact--inOrder {
  border-color: $a-color;
  background-color: $light-main-color;
  &:hover {
    background-color: $light-main-color-darker;
  }
}
