<div class="ProductBoxCompact" [ngClass]="{ 'ProductBoxCompact--inOrder': productEnriched.orderItem }">
  <a [routerLink]="productEnriched | productUrl: activeCategory" class="ProductBoxCompact-link">
    <rr-shop-image
      [images]="productEnriched.images"
      [size]="Size.Thumb200px"
      class="ProductBoxCompact-image"
    ></rr-shop-image>
    <span>{{ productEnriched.name }}</span>
  </a>

  <div class="ProductBoxCompact-price">
    {{ productEnriched.price | price }}
  </div>

  <div *ngIf="productEnriched.orderItem" class="ProductBoxCompact-orderQuantity">
    <span>
      W koszyku: <b>{{ productEnriched.orderItem.quantity }}</b>
    </span>
    <div>
      <rr-shop-clickable-action
        (actionClick)="quantityDecrement(productEnriched.orderItem.id)"
        [disabled]="!productEnriched.orderItem.isQuantityDecrementActive"
        [icon]="['fas', 'minus']"
      ></rr-shop-clickable-action>
      <rr-shop-clickable-action
        (actionClick)="quantityIncrement(productEnriched.orderItem.id)"
        [icon]="['fas', 'plus']"
      ></rr-shop-clickable-action>
    </div>
  </div>

  <rr-shop-clickable-action
    *ngIf="!productEnriched.orderItem"
    (actionClick)="addToOrder(productEnriched)"
    [label]="'Do koszyka'"
    [icon]="['fas', 'shopping-basket']"
  ></rr-shop-clickable-action>
</div>
