<div class="ProductBoxCompact">
  <a [routerLink]="productEnriched | productUrl: activeCategory" class="ProductBoxCompact-link">
    <img alt="{{ productEnriched.name }}" src="" class="ProductBoxCompact-image" />
    <span>{{ productEnriched.name }}</span>
  </a>

  <div class="ProductBoxCompact-price">
    {{ productEnriched.price | price }}
  </div>

  <pre>{{ productEnriched | json }}</pre>

  <rr-shop-clickable-action
    (actionClick)="addToBasket(productEnriched)"
    [label]="'Do koszyka'"
    [icon]="['fas', 'shopping-basket']"
  ></rr-shop-clickable-action>
</div>
