@import 'configs-and-mixins';

.ProductBoxCompact {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 36px;
  text-align: center;

  &:hover {
    background-color: #fafafa;
  }

  .ProductBoxCompact-link {
    img {
      background-color: $image-background-color;
      display: block;
      height: 200px;
      width: 200px;
      margin: 0 auto;
    }
    span {
      display: block;
      padding: 10px 0 0 0;
      color: $product-box-name-color;
    }
  }

  .ProductBoxCompact-price {
    font-size: 20px;
    color: $product-box-price-color;
    font-weight: bold;
    padding: 16px 0;
  }

  rr-shop-clickable-action {
    display: inline-block;
  }
}
