@import 'configs-and-mixins';

.ProductBoxCompact {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 36px;
  text-align: center;

  &:hover {
    background-color: #fafafa;
  }

  .ProductBoxCompact-link {
    .ProductBoxCompact-image {
      display: block;
      height: 200px;
      width: 200px;
      margin: 0 auto;
    }
    span {
      display: block;
      padding: 10px 4px 0 4px;
      color: $product-box-name-color;
      line-height: 1.3em;
    }
  }

  .ProductBoxCompact-price {
    font-size: 20px;
    color: $product-box-price-color;
    font-weight: bold;
    padding: 16px 0;
  }

  .ProductBoxCompact-alreadyInBasketQuantity {
    padding: 12px 0;
    display: inline-block;
  }

  .ProductBoxCompact-alreadyInBasketActions {
    display: inline-block;
    padding-left: 8px;
    > *:last-child {
      margin-left: 4px;
    }
  }

  .ProductBoxCompact-alreadyInBasketNotification {
    padding: 8px 4px 0 4px;
  }

  rr-shop-clickable-action {
    display: inline-block;
  }
}

.ProductBoxCompact--inOrder {
  outline: 1px solid $a-color;
  background-color: $light-green-color;
}
