<div
  [ngClass]="{
    'u-block-overlay':
      categoryAdminCall?.adminCallState === AdminCallState.Request ||
      categoryWriteRequestAdminCall?.adminCallState === AdminCallState.Request
  }"
>
  <rr-shop-admin-menu></rr-shop-admin-menu>

  <h2>
    Admin / kategoria / nowa
  </h2>

  <ng-container *ngIf="categoryAdminCall?.data as category">
    <ng-container *ngIf="categoriesAdminCall?.data as categories">
      <div class="u-admin-section u-admin-form">
        <rr-shop-admin-category-form [category]="category" [categories]="categories"></rr-shop-admin-category-form>

        <div class="row">
          <div></div>
          <div class="col-xxs-9 col-xxs-offset-3 margin-bottom">
            <rr-shop-clickable-action (actionClick)="create()" [label]="'Utwórz'"></rr-shop-clickable-action>
          </div>
        </div>
      </div>

      <div class="u-admin-section">
        <h4>Surowe dane :)</h4>
        <div>
          <pre class="u-formatted-json">{{ category | json }}</pre>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
