<div
  [ngClass]="{
    'u-block-overlay':
      category?.adminCallState === AdminCallState.Request ||
      categoryWriteRequest?.adminCallState === AdminCallState.Request
  }"
>
  <rr-shop-admin-menu></rr-shop-admin-menu>

  <h2>
    Admin / kategoria /
    <ng-container *ngIf="isEdit; else createTitle">{{ category?.data?.name }}</ng-container>
    <ng-template #createTitle>nowa</ng-template>
  </h2>

  <div class="u-admin-section u-admin-buttons" *ngIf="isEdit">
    <rr-shop-clickable-action (actionClick)="refresh()" label="Odśwież"></rr-shop-clickable-action>
    <rr-shop-clickable-action
      [clickableActionTheme]="ClickableActionTheme.Primary"
      [clickableActionType]="ClickableActionType.RouterLink"
      [label]="'Nowa kategoria'"
      [link]="'/admin/category/new'"
    ></rr-shop-clickable-action>
  </div>

  <div *ngIf="category?.data as d">
    <div class="u-admin-section u-admin-form">
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-external-id">Id</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <input id="admin-category-form-external-id" class="u-form-input" type="text" [value]="d.id" disabled />
        </div>
      </div>
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-name">Nazwa</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <input id="admin-category-form-name" class="u-form-input" type="text" [(ngModel)]="d.name" />
        </div>
      </div>
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-structural-node">StructuralNode</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <input
            id="admin-category-form-structural-node"
            class="u-form-input"
            type="text"
            [value]="d.structuralNode"
            disabled
          />
        </div>
      </div>
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-slug">Slug</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <input id="admin-category-form-slug" class="u-form-input" type="text" [value]="d.slug" disabled />
        </div>
      </div>
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-description">Opis</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <textarea
            id="admin-category-form-description"
            class="u-form-input u-monospace"
            type="text"
            style="height: 400px; font-size: 11px;"
            [(ngModel)]="d.content"
          ></textarea>
        </div>
      </div>
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-is-not-clickable">Czy nie klikalny</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <input
            id="admin-category-form-is-not-clickable"
            class="u-form-input"
            type="checkbox"
            [(ngModel)]="d.isNotClickable"
          />
        </div>
      </div>
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-is-without-products">Czy bez produktów</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <input
            id="admin-category-form-is-without-products"
            class="u-form-input"
            type="checkbox"
            [(ngModel)]="d.isWithoutProducts"
          />
        </div>
      </div>
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-is-hidden">Czy ukryty</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <input id="admin-category-form-is-hidden" class="u-form-input" type="checkbox" [(ngModel)]="d.isHidden" />
        </div>
      </div>
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-created-at">Utworzono</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <input
            id="admin-category-form-created-at"
            class="u-form-input"
            type="text"
            [value]="d.createdAt | dateCustom"
            disabled
          />
        </div>
      </div>
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-modified-at">Zmodyfikowano</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <input
            id="admin-category-form-modified-at"
            class="u-form-input"
            type="text"
            [value]="d.updatedAt | dateCustom"
            disabled
          />
        </div>
      </div>
      <!--- --- -->
      <div class="row">
        <div class="col-xxs-3 margin-bottom">
          <label class="u-form-label" for="admin-category-form-is-not-clickable">Rodzic</label>
        </div>
        <div class="col-xxs-9 margin-bottom">
          <select class="u-form-input" id="admin-category-form-parent-id" [(ngModel)]="d.parentId">
            <option [value]="null">-- brak --</option>
            <option *ngFor="let item of categories?.data" [value]="item.id">{{ item.name }}</option>
          </select>
        </div>
      </div>
      <!--- --- -->

      <div class="row">
        <div></div>
        <div class="col-xxs-9 col-xxs-offset-3 margin-bottom">
          <rr-shop-clickable-action
            *ngIf="isEdit; else createButton"
            (actionClick)="save()"
            [label]="'Zapisz'"
          ></rr-shop-clickable-action>
          <ng-template #createButton>
            <rr-shop-clickable-action (actionClick)="create()" [label]="'Utwórz'"></rr-shop-clickable-action>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="u-admin-section">
      <h4>Surowe dane :)</h4>
      <div>
        <pre class="u-formatted-json">{{ d | json }}</pre>
      </div>
    </div>
  </div>
</div>
