<div class="PaymentOverview">
  <div *ngIf="(productsPayment$ | async).length; else noDeliveries">
    <div class="OrderOverview-section">
      <table>
        <tbody>
          <tr
            *ngFor="let product of productsPayment$ | async; trackBy: trackBy"
            rr-shop-payment-overview-item
            [product]="product"
          ></tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #noDeliveries>
    <div class="PaymentOverview-empty">
      Brak płatności - skontaktuj się z obsługą sklepu
    </div>
  </ng-template>
</div>
