<div class="PaymentOverview">
  <div *ngIf="(productsEnrichedPayment$ | async).length; else noDeliveries">
    <div class="BasketOverview-section">
      <table>
        <tbody>
          <tr
            *ngFor="let productEnriched of productsEnrichedPayment$ | async; trackBy: trackBy"
            rr-shop-payment-overview-item
            [productEnriched]="productEnriched"
          ></tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #noDeliveries>
    <div class="PaymentOverview-empty">
      Lista płatności jest pusta - skontaktuj się z obługą sklepu
    </div>
  </ng-template>
</div>
