@import 'configs-and-mixins';

.Breadcrumbs {
  border-bottom: 1px solid $border-color;
  padding: 17px 0;

  .Breadcrumbs-linksContainer {
    white-space: nowrap;
    font-size: 13px;
    line-height: 1em;
  }

  .Breadcrumbs-link--secondary {
    color: $font-color;
  }

  .Breadcrumbs-link--primary {
    font-weight: bold;
  }
}
