@import 'configs-and-mixins';

.Breadcrumbs {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 17px 0;
  background-color: $primary-background-color;

  .Breadcrumbs-linksContainer {
    white-space: nowrap;
    font-size: $breadcrumbs-font-size;

    > * {
      display: inline-block;
      margin-right: $breadcrumbs-links-separator;
      &:not(:last-child):after {
        content: '/';
        margin-left: $breadcrumbs-links-separator;
        display: inline-block;
        color: $color;
        font-weight: normal;
      }

      &:not(.Breadcrumbs-link--active) {
        color: $color;
      }
    }
  }

  .Breadcrumbs-link--active {
    font-weight: bold;
  }
}
