@import 'configs-and-mixins';

.Breadcrumbs {
  border-bottom: 1px solid $border-color;
  padding: 17px 0;
  background-color: $background-color;

  .Breadcrumbs-linksContainer {
    white-space: nowrap;
    font-size: 13px;
  }

  .Breadcrumbs-link--secondary {
    color: $color;
  }

  .Breadcrumbs-link--primary {
    font-weight: bold;
  }
}
