<div class="Breadcrumbs">
  <div class="container">
    <div class="Breadcrumbs-linksContainer">
      <a
        routerLink="/"
        [ngClass]="{ 'Breadcrumbs-link--active': (categoriesWithActiveLevelSorted$ | async).length === 0 }"
      >
        Strona główna
      </a>
      <ng-container *ngFor="let category of categoriesWithActiveLevelSorted$ | async; trackBy: trackBy">
        <ng-container *ngIf="category.isNotClickable; else clickable">
          <span>
            {{ category.name }}
          </span>
        </ng-container>
        <ng-template #clickable>
          <a
            [routerLink]="category | categoryUrl"
            [ngClass]="{ 'Breadcrumbs-link--active': category.activeLevel === 1 }"
          >
            {{ category.name }}
          </a>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
