<!--
  [parallaxAmount]="100"
  [parallaxOffset]="-160"
  [parallaxViewportWidthThreshold]="768"
  rrShopParalax
-->

<footer class="Footer">
  <div class="container">
    <div class="row Footer-content padding-top">
      <div *ngFor="let category of categories$ | async; trackBy: trackBy" class="col-xxs-12 col-md-3 margin-bottom">
        <div class="clearfix">
          <h3>{{ category.name }}</h3>
        </div>
        <rr-shop-footer-group [parentId]="category.id"></rr-shop-footer-group>
      </div>
    </div>
  </div>
</footer>
