<footer class="Footer">
  <div class="Footer-imageContainer">
    <div class="Footer-image">
      <div class="container">
        <div class="row Footer-content">
          <div class="col-xs-12 col-md-3 margin-bottom">
            <h3>Pomoc</h3>

            <ul>
              <li><a href="/">Czas realizacji zamówień</a></li>
              <li><a href="/">Czas dostawy</a></li>
              <li><a href="/">Dla sklepów</a></li>
              <li><a href="/">Wysyłka za granice</a></li>
              <li><a href="/">Faktury i paragony</a></li>
              <li><a href="/">Koszty dostawy</a></li>
              <li><a href="/">Sposoby płatności</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-3 margin-bottom">
            <h3>Pomoc</h3>

            <ul>
              <li><a href="/">Czas realizacji zamówień</a></li>
              <li><a href="/">Czas dostawy</a></li>
              <li><a href="/">Dla sklepów</a></li>
              <li><a href="/">Wysyłka za granice</a></li>
              <li><a href="/">Faktury i paragony</a></li>
              <li><a href="/">Koszty dostawy</a></li>
              <li><a href="/">Sposoby płatności</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-3 margin-bottom">
            <h3>Pomoc</h3>

            <ul>
              <li><a href="/">Czas realizacji zamówień</a></li>
              <li><a href="/">Czas dostawy</a></li>
              <li><a href="/">Dla sklepów</a></li>
              <li><a href="/">Wysyłka za granice</a></li>
              <li><a href="/">Faktury i paragony</a></li>
              <li><a href="/">Koszty dostawy</a></li>
              <li><a href="/">Sposoby płatności</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
