@import '~src/styles/configs-and-mixins';

.ProductDetails {
}

.ProductDetails-imageContainer {
  margin-bottom: 2 * $gutter-width;
  > * {
    display: block;
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
}

.ProductDetails-overviewContainer {
  margin-bottom: 2 * $gutter-width;

  h2 {
    margin-bottom: 24px;
  }

  .ProductDetails-promotion {
    font-size: 20px;
    color: $green-color;
    font-weight: bold;
  }

  .ProductDetails-priceUnit {
    padding: 16px 0;

    > span {
      display: inline-block;
    }

    > span:first-child {
      font-size: 20px;
      color: $product-box-price-color;
      font-weight: bold;
    }
    > span:nth-child(2) {
      padding: 0 8px 0 24px;
      text-decoration: line-through;
    }
  }

  .ProductDetails-quantityText {
    padding: 0 0 16px 0;
  }

  .ProductDetails-alreadyInBasketQuantity {
    padding-bottom: 16px;
    display: block;
  }

  .ProductDetails-alreadyInBasketActions {
    padding-bottom: 16px;
    > *:nth-child(2) {
      margin-left: 16px;
    }
    > *:nth-child(3) {
      margin-left: 4px;
    }
  }

  .ProductDetails-notInBasketYet,
  .ProductDetails-alreadyInBasketNotification {
    padding-bottom: 16px;
  }
}

.ProductDetails-relatedArticles {
  padding-top: $gutter-width;
  > *:not(:first-child) {
    display: none;
  }
}

.ProductDetails-description {
  padding-top: 24px;
  margin-bottom: 64px;
  ::ng-deep h4 {
    margin-top: 10px;
    margin-bottom: 8px;
  }
  ::ng-deep h4:first-child {
    margin-top: 0;
  }
  ::ng-deep p {
  }
}
