.ClientDetails {
  .ClientDetails-readOnly {
    padding-bottom: 16px;
    line-height: 1.5em;
  }
  .ClientDetails-readOnlyComments {
    white-space: pre;
    padding-top: 16px;
    font-style: italic;
    &:before,
    &:after {
      content: "'";
    }
  }

  .u-form-label {
    text-align: right;
  }
  .u-form-error-container {
    padding-top: 2px;
  }
}
