<div class="ClientDetails">
  <form
    *ngIf="(clientDetailsForm$ | async)?.isClientDetailsFormActive; else readOnly"
    [formGroup]="clientDetailsFormGroup"
    class="PromoCode-form"
    id="client-details-form"
    novalidate
  >
    <div class="row">
      <div class="col-xxs-12 col-md-6">
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label" for="client-details-form-email">Email</label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="client-details-form-email"
              id="client-details-form-email"
              class="u-form-input"
              type="text"
              formControlName="email"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.email.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.email.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.email.errors.required">
                Pole email nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.email.errors.email">
                Podany email nie jest poprawny
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.email.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label" for="client-details-form-name">Imię</label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="client-details-form-name"
              id="client-details-form-name"
              class="u-form-input"
              type="text"
              formControlName="name"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.name.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.name.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.name.errors.required">
                Pole imię nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.name.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label" for="client-details-form-surname">Nazwisko</label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="client-details-form-surname"
              id="client-details-form-surname"
              class="u-form-input"
              type="text"
              formControlName="surname"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.surname.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.surname.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.surname.errors.required">
                Pole nazwisko nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.surname.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label" for="client-details-form-comments">Komentarz</label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <textarea
              autocomplete="client-details-form-comments"
              id="client-details-form-comments"
              class="u-form-input"
              type="text"
              formControlName="comments"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.comments.errors
              }"
            ></textarea>
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.comments.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.comments.errors.required">
                Pole miasto nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.comments.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ---------------------- -->
      <div class="col-xxs-12 col-md-6">
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label" for="client-details-form-phone">Telefon</label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="client-details-form-phone"
              id="client-details-form-phone"
              class="u-form-input"
              type="text"
              formControlName="phone"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.phone.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.phone.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.phone.errors.required">
                Pole telefon nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.phone.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label" for="client-details-form-address">Ulica i nr</label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="client-details-form-address"
              id="client-details-form-address"
              class="u-form-input"
              type="text"
              formControlName="address"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.address.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.address.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.address.errors.required">
                Pole ulica i numer nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.address.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label" for="client-details-form-zipCode">Kod</label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="client-details-form-zipCode"
              id="client-details-form-zipCode"
              class="u-form-input"
              type="text"
              formControlName="zipCode"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.zipCode.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.zipCode.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.zipCode.errors.required">
                Pole kod nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.zipCode.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label" for="client-details-form-city">Miasto</label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="client-details-form-city"
              id="client-details-form-city"
              class="u-form-input"
              type="text"
              formControlName="city"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.city.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.city.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.city.errors.required">
                Pole miasto nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.city.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
      </div>
    </div>

    <rr-shop-clickable-action (actionClick)="clientDetailsOnSave()" [label]="'Zapisz'"></rr-shop-clickable-action>
  </form>

  <ng-template #readOnly>
    <div *ngIf="clientDetailsForm$ | async as clientDetailsForm" class="ClientDetails-readOnly">
      <div>{{ clientDetailsForm.email }}</div>
      <div>{{ clientDetailsForm.phone }}</div>
      <div>{{ clientDetailsForm.name }} {{ clientDetailsForm.surname }}</div>
      <div>{{ clientDetailsForm.address }}</div>
      <div>{{ clientDetailsForm.zipCode }} {{ clientDetailsForm.city }}</div>
      <div *ngIf="clientDetailsForm.comments" class="ClientDetails-readOnlyComments">
        {{ clientDetailsForm.comments }}
      </div>
    </div>

    <rr-shop-clickable-action (actionClick)="clientDetailsOnEdit()" [label]="'Edytuj'"></rr-shop-clickable-action>
  </ng-template>
</div>
