<div class="ClientDetails">
  <form
    (ngSubmit)="clientDetailsOnSave()"
    *ngIf="(clientDetailsForm$ | async)?.isClientDetailsFormActive; else readOnly"
    [formGroup]="clientDetailsFormGroup"
    autocomplete="on"
    class="PromoCode-form"
    id="client-details-form"
    novalidate
  >
    <div class="row">
      <div class="col-xxs-12 col-md-6">
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label u-form-label-required" for="client-details-form-email">
              Email
            </label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="email"
              class="u-form-input"
              formControlName="email"
              id="client-details-form-email"
              name="email"
              type="text"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.email.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.email.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.email.errors.required">
                Pole email nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.email.errors.email">
                Podany email nie jest poprawny
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.email.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label u-form-label-required" for="client-details-form-phone">
              Telefon
            </label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="tel"
              class="u-form-input"
              formControlName="phone"
              id="client-details-form-phone"
              name="phone"
              type="text"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.phone.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.phone.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.phone.errors.required">
                Pole telefon nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.phone.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label u-form-label-required" for="client-details-form-fname">
              Imię
            </label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="given-name"
              class="u-form-input"
              formControlName="fname"
              id="client-details-form-fname"
              name="fname"
              type="text"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.fname.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.fname.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.fname.errors.required">
                Pole imię nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.fname.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label u-form-label-required" for="client-details-form-lname">
              Nazwisko
            </label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="family-name"
              class="u-form-input"
              formControlName="lname"
              id="client-details-form-lname"
              name="lname"
              type="text"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.lname.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.lname.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.lname.errors.required">
                Pole nazwisko nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.lname.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
      </div>
      <!-- ---------------------- -->
      <div class="col-xxs-12 col-md-6">
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label
              class="u-form-label"
              for="client-details-form-address"
              [ngClass]="{
                'u-form-label-required': isDynamicControlRequired
              }"
            >
              Adres
            </label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="street-address"
              class="u-form-input"
              formControlName="address"
              id="client-details-form-address"
              name="address"
              type="text"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.address.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.address.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.address.errors.required">
                Pole adres nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.address.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label
              class="u-form-label"
              for="client-details-form-zip"
              [ngClass]="{
                'u-form-label-required': isDynamicControlRequired
              }"
            >
              Kod pocztowy
            </label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="postal-code"
              class="u-form-input"
              formControlName="zip"
              id="client-details-form-zip"
              name="zip"
              type="text"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.zip.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.zip.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.zip.errors.required">
                Pole kod pocztowy nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.zip.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label
              class="u-form-label"
              for="client-details-form-city"
              [ngClass]="{
                'u-form-label-required': isDynamicControlRequired
              }"
            >
              Miasto
            </label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <input
              autocomplete="address-level2"
              class="u-form-input"
              formControlName="city"
              id="client-details-form-city"
              name="city"
              type="text"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.city.errors
              }"
            />
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.city.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.city.errors.required">
                Pole miasto nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.city.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
        <div class="row">
          <div class="col-xxs-4 margin-bottom">
            <label class="u-form-label" for="client-details-form-comments">
              Komentarz
            </label>
          </div>
          <div class="col-xxs-8 margin-bottom">
            <textarea
              autocomplete="off"
              class="u-form-input"
              formControlName="comments"
              id="client-details-form-comments"
              name="comments"
              type="text"
              [ngClass]="{
                'u-form-input--invalid': clientDetailsSubmitted && clientDetailsFormGroup.controls.comments.errors
              }"
            ></textarea>
            <div
              class="u-form-error-container"
              *ngIf="clientDetailsSubmitted && clientDetailsFormGroup.controls.comments.errors"
            >
              <div *ngIf="clientDetailsFormGroup.controls.comments.errors.required">
                Pole miasto nie może być puste
              </div>
              <div *ngIf="clientDetailsFormGroup.controls.comments.errors.maxlength as maxlength">
                Do pola wprowadzono zbyt dużo znaków ({{ maxlength.actualLength }}/{{ maxlength.requiredLength }})
              </div>
            </div>
          </div>
        </div>
        <!-- --- -->
      </div>
    </div>

    <div class="row">
      <div class="col-xxs-5">
        <rr-shop-clickable-action [buttonType]="ButtonType.Submit" [label]="'Dalej'"></rr-shop-clickable-action>
      </div>
      <div class="col-xxs-7">
        <div class="ClientDetails-requiredInfo">
          * pola wymagane
        </div>
      </div>
    </div>
  </form>

  <ng-template #readOnly>
    <div *ngIf="clientDetailsForm$ | async as clientDetailsForm" class="ClientDetails-readOnly">
      <div>{{ clientDetailsForm.email }}</div>
      <div>{{ clientDetailsForm.phone }}</div>
      <div>{{ clientDetailsForm.name }} {{ clientDetailsForm.surname }}</div>

      <ng-container *ngIf="(deliveryTypeByOrderUuid$ | async) !== DeliveryType.Own">
        <div>{{ clientDetailsForm.address }}</div>
        <div>{{ clientDetailsForm.zipCode }} {{ clientDetailsForm.city }}</div>
      </ng-container>

      <div *ngIf="clientDetailsForm.comments as comments" class="ClientDetails-readOnlyComments">{{ comments }}</div>
    </div>

    <rr-shop-clickable-action (actionClick)="clientDetailsOnEdit()" [label]="'Edytuj'"></rr-shop-clickable-action>

    <div *ngIf="!isClientDetailsSectionValid" class="ClientDetails-sectionError u-form-error-container">
      By dostarczyć paczkę Kurierem prosimy o kliknięcie w przycisk 'Edytuj' i podanie dodatkowo adresu, kodu pocztowego
      i miasta.
    </div>
  </ng-template>
</div>
