@import 'configs-and-mixins';

.Header {
  background-color: $background-color;

  .Header-logoContainer {
    a {
      margin: 15px auto 0 auto;
      @include viewport-desktop-medium-and-up {
        margin: 20px 0 0 0;
      }
    }
    a,
    h1 {
      display: block;
      width: $logo-width;
      height: $logo-height;
    }
    h1 {
      background: url('../../../assets/logo.png') no-repeat top left;
      background-size: $logo-width $logo-height;
      overflow: hidden;
      text-indent: -99em;
    }

    @include viewport-x-and-down($logo-width + 2 * $gutter-width) {
      a,
      h1 {
        width: $logo-smallest-width;
        height: $logo-smallest-height;
      }
      h1 {
        background-size: $logo-smallest-width $logo-smallest-height;
      }
    }
  }

  .Header-headerImageContainer {
    .Header-headerImage {
      background: url('../../../assets/header-image.png') no-repeat top left;
      background-size: $header-image-width $header-image-height;
      float: right;
      width: $header-image-width;
      height: $header-image-height;
    }
  }

  .Header-separatorImageContainer {
    height: $separator-image-mobile-height;
    position: relative;
    background-color: #1c2f01;

    .Header-separatorImage {
      background: url('../../../assets/separator-image-mobile.jpg') no-repeat top center;
      height: $separator-image-mobile-height;
    }

    // ----

    @include viewport-tablet-and-up {
      height: $separator-image-height;
      .Header-separatorImage {
        background: url('../../../assets/separator-image.jpg') no-repeat top center;
        height: $separator-image-height;
      }
    }
  }
}
