@import 'configs-and-mixins';

.Header {
}

.Header-logo {
  > * {
    display: block;
  }
}

// ----------------------------------------------------

.Header-tablet {
  text-align: right;
  display: none;
  padding-top: 2 * $gutter-width;
  > div > * {
    display: block;
  }
  > *:last-child {
    padding-top: $gutter-width;
    > * {
      float: right;
    }
  }
}

@include viewport-tablet-only {
  .Header-tablet {
    display: block;
  }
}

// ----------------------------------------------------

.Header-desktop {
  text-align: right;
  display: none;
  padding-top: $gutter-width;
  padding-bottom: 2 * $gutter-width;
  > div {
    padding-top: $gutter-width;
  }
  > div:first-child {
    > * {
      display: block;
    }
  }
  > div:last-child {
    text-align: right;
    > * {
      display: inline-block;
    }
    > *:first-child {
      margin-right: $gutter-width;

      @include viewport-desktop-medium-only {
        width: 230px;
      }

      @include viewport-desktop-large-only {
        width: 380px;
      }

      @include viewport-desktop-extra-large-and-up {
        width: 480px;
      }
    }
  }
}

@include viewport-desktop-medium-and-up {
  .Header-desktop {
    display: block;
  }
}
