@import 'configs-and-mixins';

.Header {
}

.Header-logo {
  > * {
    display: block;
  }
}

// ----------------------------------------------------

.Header-tablet {
  text-align: right;
  display: none;
  padding-top: 2 * $gutter-width;
  > div > * {
    display: block;
  }
  > *:last-child {
    padding-top: $gutter-width;
    > * {
      float: right;
    }
  }
}

@include viewport-tablet-only {
  .Header-tablet {
    display: block;
  }
}

// ----------------------------------------------------
