<div class="Header">
  <div class="container">
    <div class="row">
      <div class="Header-logo col-xxs-12 col-sm-7 col-md-5 col-lg-4 col-xlg-3">
        <rr-shop-logo></rr-shop-logo>
      </div>

      <div class="col-xxs-12 col-sm-5 col-md-7 col-lg-8 col-xlg-9">
        <div class="Header-tablet">
          <div>
            <rr-shop-top-search></rr-shop-top-search>
          </div>
          <div class="clearfix">
            <rr-shop-top-basket [showLabel]="true"></rr-shop-top-basket>
          </div>
        </div>

        <div class="Header-desktop">
          <div>
            <rr-shop-top-menu [align]="Align.Right" class="hidden-lg hidden-xlg"></rr-shop-top-menu>
            <rr-shop-top-menu [align]="Align.Right" [isWide]="true" class="hidden-md"></rr-shop-top-menu>
          </div>
          <div>
            <rr-shop-top-search></rr-shop-top-search>
            <rr-shop-top-basket [showLabel]="true"></rr-shop-top-basket>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
