<div class="Header">
  <div class="container">
    <div class="row">
      <div class="col-xxs-12 col-md-6">
        <div class="Header-logo">
          <a routerLink="/">
            <h1>{{ h1Text }}</h1>
          </a>
        </div>
      </div>
      <div class="col-xxs-12 col-md-6 hidden-xxs hidden-xs hidden-sm">
        <div class="Header-headerImage">&nbsp;</div>
      </div>
    </div>
  </div>
</div>

<div class="Header-stickyContainer">
  <div
    class="Header-sticky"
    [ngClass]="{
      'Header-sticky--active': scrolledDownThatHeaderIsNotVisible$ | async
    }"
  >
    <div class="container">
      <div class="row padding-top padding-bottom">
        <div class="col-xxs-12 col-lg-6 hidden-xxs hidden-xs hidden-sm hidden-md">
          <rr-shop-top-menu></rr-shop-top-menu>
        </div>

        <div class="col-xxs-12 col-lg-6" style="text-align: right;">
          <div class="hidden-xxs" style="display: inline-block; margin-right: 15px;">
            <rr-shop-top-search></rr-shop-top-search>
          </div>
          <div style="display: inline-block;">
            <rr-shop-cloud>
              <rr-shop-clickable-action
                [clickableActionTheme]="ClickableActionTheme.Primary"
                [clickableActionType]="ClickableActionType.RouterLink"
                [link]="'/basket'"
                [icon]="['fas', 'shopping-basket']"
                [label]="'Twój koszyk (' + (quantityTotal$ | async) + ' sztuk)'"
              ></rr-shop-clickable-action>
              <rr-shop-basket-overview cloudContent></rr-shop-basket-overview>
            </rr-shop-cloud>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
