.Content {
  background-color: aqua;
  margin-bottom: 10px;

  .Content-minorArea {
    outline: 1px solid red;
  }

  .Content-mainArea {
    background-color: white;
    outline: 1px solid orange;
  }
}
