@import 'configs-and-mixins';

.Order-textAtTop {
  margin-bottom: 48px;
}

.Order-priceTotalSelling {
  margin-bottom: 48px - 16px;
}

.Order-summarySection {
  font-size: 20px;
  line-height: 1.5em;
  padding-bottom: 16px;
  span {
    font-weight: bold;
    display: inline-block;
    margin-left: 8px;
    color: $product-box-price-color;
  }
}
