@import 'configs-and-mixins';

.Categories {
  background-color: $category-box-background-color;

  ul,
  li {
    display: block;
    list-style: none;
  }

  li {
    padding-bottom: 8px;
    padding-left: 20px;
    position: relative;
    &:after,
    &:before {
      display: block;
      content: '';
      position: absolute;
    }
    &:after {
      top: 1px;
      left: 6px;
      width: 0;
      height: 0;
      transform: scale(1, 0.5);
      border: solid transparent 7px;
      border-left-color: $a-color;
    }
    &:before {
      top: 7px;
      left: 0;
      width: 7px;
      height: 2px;
      background-color: #8bbf4e;
    }
    ul {
      display: none;
      padding-top: 8px;
    }
    a.Categories-link--active + ul {
      display: block;
    }
  }

  a {
    display: block;
    color: $categories-color-default;
    font-size: $categories-font-size;

    &.Categories-link--active {
      color: $categories-color-active;
    }

    &:hover {
      color: $categories-color-hover;
    }
  }

  ul {
    // transition: max-height ease-in-out 100ms;
    // max-height: 100px;
    overflow: hidden;
  }

  .Categories-expandCollapseContainer {
    text-align: center;
    > * {
      display: inline-block;
    }
  }
}

.Categories--collapsed {
  padding-top: 0;
  ul {
    max-height: 0;
  }
}
.Categories--collapseExpandButtonVisible {
  padding-bottom: 0;
}
