@import '~src/styles/configs-and-mixins';

.Categories {
  background-color: $category-box-background-color;

  .Categories-expandCollapseContainer {
    text-align: center;
    > * {
      display: inline-block;
    }
  }
}

.Categories--collapsed {
  padding-top: 0;
  .Categories-list {
    display: none;
  }
}
.Categories--collapseExpandButtonVisible {
  padding-bottom: 0;
}
