@import 'configs-and-mixins';

.Categories {
  background-color: $category-box-background-color;

  ul, li {
    display: block;
    list-style: none;
  }

  a {
    color: $categories-color-default;
    font-size: $categories-font-size;

    &.Categories-link--active {
      color: $categories-color-active;
    }

    &:hover {
      color: $categories-color-hover;
    }
  }
}
