<div
  class="Categories padding"
  [ngClass]="{
    'Categories--collapsed': isListCollapsed$ | async,
    'Categories--collapseExpandButtonVisible': isCollapseExpandButtonVisible$ | async
  }"
>
  <rr-shop-category-node
    class="Categories-list"
    *ngIf="shopCategoryRoot$ | async"
    [parentId]="(shopCategoryRoot$ | async).id"
  ></rr-shop-category-node>

  <div class="Categories-expandCollapseContainer" *ngIf="isCollapseExpandButtonVisible$ | async">
    <rr-shop-clickable-action
      *ngIf="isListCollapsed$ | async"
      (actionClick)="onExpandClick()"
      [clickableActionTheme]="ClickableActionTheme.Transparent"
      [icon]="['fas', 'angle-double-down']"
      [label]="'rozwiń kategorie'"
    ></rr-shop-clickable-action>
    <rr-shop-clickable-action
      *ngIf="!(isListCollapsed$ | async)"
      (actionClick)="onCollapseClick()"
      [clickableActionTheme]="ClickableActionTheme.Transparent"
      [icon]="['fas', 'angle-double-up']"
      [label]="'zwiń kategorie'"
    ></rr-shop-clickable-action>
  </div>
</div>
