<div
  class="Categories padding"
  [ngClass]="{
    'Categories--collapsed': isListCollapsed$ | async,
    'Categories--collapseExpandButtonVisible': isCollapseExpandButtonVisible$ | async
  }"
>
  <rr-shop-category-node
    *ngIf="shopCategoryRoot$ | async"
    [category]="shopCategoryRoot$ | async"
    [isRoot]="true"
    class="Categories-list"
  ></rr-shop-category-node>

  <div class="Categories-expandCollapseContainer" *ngIf="isCollapseExpandButtonVisible$ | async">
    <rr-shop-clickable-action
      *ngIf="isListCollapsed$ | async; else listExpanded"
      (actionClick)="onExpandClick()"
      [clickableActionTheme]="ClickableActionTheme.TransparentDark"
      [iconType]="IconType.FasAngleDoubleDown"
      [label]="'rozwiń kategorie'"
    ></rr-shop-clickable-action>
    <ng-template #listExpanded>
      <rr-shop-clickable-action
        (actionClick)="onCollapseClick()"
        [clickableActionTheme]="ClickableActionTheme.TransparentDark"
        [iconType]="IconType.FasAngleDoubleUp"
        [label]="'zwiń kategorie'"
      ></rr-shop-clickable-action>
    </ng-template>
  </div>
</div>
