.DeliveryOverview {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

.DeliveryOverview-chooseParcelLocker {
  padding-top: 16px;
  > div {
    line-height: 1.6em;
    a {
      cursor: pointer;
    }
  }
}
