<div class="DeliveryOverview">
  <div *ngIf="(productsEnrichedDelivery$ | async).length; else noDeliveries">
    <div class="BasketOverview-section">
      <table>
        <tbody>
          <tr
            *ngFor="let productEnriched of productsEnrichedDelivery$ | async; trackBy: trackBy"
            rr-shop-delivery-overview-item
            [productEnriched]="productEnriched"
          ></tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #noDeliveries>
    <div class="DeliveryOverview-empty">
      Brak dostaw - skontaktuj się z obługą sklepu
    </div>
  </ng-template>
</div>
