<div class="DeliveryOverview">
  <div *ngIf="(productsDelivery$ | async).length; else noDeliveries">
    <div class="OrderOverview-section">
      <table>
        <tbody>
          <tr
            *ngFor="let product of productsDelivery$ | async; trackBy: trackBy"
            rr-shop-delivery-overview-item
            [product]="product"
          ></tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="DeliveryOverview-chooseParcelLocker" *ngIf="(order$ | async)?.isParcelLockerActive()">
    <div *ngIf="(order$ | async)?.parcelLocker; else chooseParcelLocker">
      Wybrany paczkomat:
      <strong>{{ (order$ | async)?.parcelLocker }}</strong>
      <br />
      <a (click)="onChooseParcelLockerClick()">Kliknij tutaj by wybrać inny</a>
    </div>

    <ng-template #chooseParcelLocker>
      <rr-shop-clickable-action
        [label]="'Wybierz paczkomat'"
        (actionClick)="onChooseParcelLockerClick()"
      ></rr-shop-clickable-action>
    </ng-template>
  </div>

  <ng-template #noDeliveries>
    <div class="DeliveryOverview-empty">
      Brak dostaw - skontaktuj się z obługą sklepu
    </div>
  </ng-template>
</div>
