<div class="DeliveryOverview">
  <div *ngIf="(productsDelivery$ | async).length; else noDeliveries">
    <div class="OrderOverview-section">
      <table>
        <tbody>
          <tr
            *ngFor="let product of productsDelivery$ | async; trackBy: trackBy"
            rr-shop-delivery-overview-item
            [product]="product"
          ></tr>
        </tbody>
      </table>
    </div>
  </div>

  <button (click)="onParcelLockerClick()">Wybierz paczkomat</button>

  <ng-template #noDeliveries>
    <div class="DeliveryOverview-empty">
      Brak dostaw - skontaktuj się z obługą sklepu
    </div>
  </ng-template>
</div>
