@import 'configs-and-mixins';

.CategoryDetails {
}

.CategoryDetails-content {
  padding-bottom: 2 * $gutter-width;

  img.CategoryDetails-contentImage {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto 2 * $gutter-width auto;
  }

  @include viewport-phone-vertical-and-up {
    img.CategoryDetails-contentImage {
    }
  }

  @include viewport-tablet-and-up {
    img.CategoryDetails-contentImage {
    }
  }

  @include viewport-desktop-medium-and-up {
    img.CategoryDetails-contentImage {
    }
  }
}

.CategoryDetails-categories,
.CategoryDetails-products {
  > * {
    display: block;
  }
}

.CategoryDetails-sortBy {
  text-align: right;
  > div {
    position: relative;
    > *:first-child {
      display: inline-block;
      padding: 6px 35px 6px 15px;
      border-radius: 20px;
      appearance: none;
    }
    > *:last-child {
      display: block;
      position: absolute;
      top: 15px;
      right: 17px;
    }
  }
}
