@import 'configs-and-mixins';

.PromoCode {
  .PromoCode-failure,
  .PromoCode-success {
    > div {
      margin-bottom: 16px;
    }
  }
  .PromoCode-form {
    > div:first-child {
      input {
        display: inline-block;
        width: 135px;
      }
      > :not(input) {
        display: inline-block;
        margin-left: 8px;
      }
    }
    .u-form-error-container {
      padding-top: 2px;
    }
    .PromoCode-formNoCodeInfo {
      padding-top: 16px;
    }
  }
  .PromoCode-success {
    color: $a-color;
  }
  .PromoCode-failure {
    color: $red-color;
  }
}
