@import 'configs-and-mixins';

td {
  padding: 0;
  border: 1px solid $border-color;
  vertical-align: top;
  text-align: left;
}

.DeliveryOverviewItem-mainInfo {
  a {
    display: block;
    min-height: 40px;
    position: relative;
    cursor: pointer;
    color: $color;
    > div:first-child {
      position: absolute;
      top: 0;
      left: 0;
    }
    > div:last-child {
      padding: 12px 0 12px 45px;
    }
  }
}

.DeliveryOverviewItem-price {
  width: 85px;
  span {
    display: block;
    text-align: center;
    padding: 12px 0;
  }
}
