<rr-shop-admin-menu></rr-shop-admin-menu>

<h2>Admin / produkt / {{ product?.data?.name }}</h2>

<div class="margin-bottom">
  <rr-shop-clickable-action (actionClick)="refresh()" label="'Odśwież'"></rr-shop-clickable-action>
</div>

<div class="margin-bottom">
  <div *ngIf="product?.adminCallState === AdminCallState.Request">Wczytywanie produktu...</div>
  <div *ngIf="product?.adminCallState === AdminCallState.Failure">
    Błąd podczas ładowania produktu
    <pre>{{ product?.errorDetails | json }}</pre>
  </div>
</div>

<div *ngIf="product?.data as d">
  <pre class="u-formatted-json">{{ d | json }}</pre>
</div>
