@import 'configs-and-mixins';

.TopSearch {
  position: relative;
  padding-right: 40px;

  input {
    background-color: $input-background-color;
    border: 1px solid $input-border-color;
    display: block;
    height: 40px;
    padding: 6px 10px;
    width: 100%;
    &::-ms-clear {
      display: none;
    }
  }

  button {
    background-color: $button-primary-background-color;
    color: $button-primary-color;
    display: block;
    height: 40px;
    min-width: 40px;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }

  .TopSearch-form {

  }

  .TopSearch-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
