@import 'configs-and-mixins';

.TopSearch {
  position: relative;
  min-height: 40px;

  .TopSearch-form {
    border-radius: 20px;
    padding: 6px 50px 6px 15px;
  }

  .TopSearch-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
