@import 'configs-and-mixins';

.TopSearch {
  position: relative;
  padding-right: 40px;
  min-height: 40px;

  .TopSearch-form {
  }

  .TopSearch-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
