<div class="PotentialOrder-section PotentialOrder-products">
  <h2>Zawartość koszyka</h2>

  <rr-shop-order-items-overview [orderItems]="order.getOrderItemsByType([Type.Product])"></rr-shop-order-items-overview>

  <div class="PotentialOrder-summaryPriceNormal">
    Produkty:
    <span>
      {{ order.getPriceTotalOriginal([Type.Product]) | price }}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xxs-12 col-md-6">
    <div
      [ngClass]="{
        'u-block-overlay': order.isDeliverySectionDisabled()
      }"
      class="PotentialOrder-section"
    >
      <h2>Dostawa</h2>
      <rr-shop-delivery-overview></rr-shop-delivery-overview>
    </div>
  </div>

  <div class="col-xxs-12 col-md-6">
    <div
      [ngClass]="{
        'u-block-overlay': order.isPaymentSectionDisabled()
      }"
      class="PotentialOrder-section"
    >
      <h2>Płatność</h2>
      <rr-shop-payment-overview></rr-shop-payment-overview>
    </div>
  </div>
</div>

<div
  [ngClass]="{
    'u-block-overlay': order.isClientDetailsSectionDisabled()
  }"
  class="PotentialOrder-section PotentialOrder--withBorder"
>
  <h2>Dane klienta</h2>
  <rr-shop-client-details></rr-shop-client-details>
</div>

<div
  [ngClass]="{
    'u-block-overlay': order.isPromoCodeSectionDisabled()
  }"
  class="PotentialOrder-section PotentialOrder--withBorder"
>
  <h2>Kod rabatowy</h2>
  <rr-shop-promo-code></rr-shop-promo-code>
</div>

<div
  [ngClass]="{
    'u-block-overlay': order.isSummarySectionDisabled()
  }"
  class="PotentialOrder-section PotentialOrder-summary"
>
  <h2>Podsumowanie</h2>
  <div class="row">
    <div class="col-xxs-12 col-lg-6 PotentialOrder-summaryLeft">
      <div class="PotentialOrder-summaryPriceNormal">
        Produkty:
        <span *ngIf="order.promoCode" class="PotentialOrder-originalPrice">
          {{ order.getPriceTotalOriginal([Type.Product]) | price }}
        </span>
        <span>
          {{ order.getPriceTotalSelling([Type.Product]) | price }}
        </span>
      </div>
      <div class="PotentialOrder-summaryPriceDelivery">
        Dostawa:
        <span>
          {{ order.getPriceTotalSelling([Type.Delivery]) | price }}
        </span>
      </div>
      <div class="PotentialOrder-summaryPricePayment">
        Płatność:
        <span>
          {{ order.getPriceTotalSelling([Type.Payment]) | price }}
        </span>
      </div>
      <div class="PotentialOrder-summaryPriceTotal">
        Do zapłaty:
        <span>
          <b *ngIf="order.promoCode" class="PotentialOrder-originalPrice">
            {{ order.getPriceTotalOriginal([Type.Delivery, Type.Payment, Type.Product]) | price }}
          </b>
          <b>
            {{ order.getPriceTotalSelling([Type.Delivery, Type.Payment, Type.Product]) | price }}
          </b>
        </span>
      </div>
    </div>

    <div class="col-xxs-12 col-lg-6 PotentialOrder-summaryRight">
      <div class="PotentialOrder-legalConfirmation">
        <a (click)="toggleLegalConfirmation()">
          <div>
            <rr-shop-clickable-action
              *ngIf="!order.isLegalConfirmationChecked"
              [clickableActionTheme]="ClickableActionTheme.TransparentDark"
              [iconType]="IconType.FarCircle"
            ></rr-shop-clickable-action>

            <rr-shop-clickable-action
              *ngIf="order.isLegalConfirmationChecked"
              [clickableActionTheme]="ClickableActionTheme.TransparentDark"
              [iconType]="IconType.FarCheckCircle"
            ></rr-shop-clickable-action>
          </div>

          <div>Potwierdzam zapoznanie się z:</div>
        </a>
        <div>
          <a [routerLink]="categoryRegulations | categoryUrl">Regulaminem</a>
          oraz
          <a [routerLink]="categoryPrivacyPolicy | categoryUrl">Polityką prywatności</a>
        </div>
      </div>

      <rr-shop-clickable-action
        [label]="'Złóż zamówienie'"
        (actionClick)="createOrder()"
        [disabled]="!order.isValid()"
      ></rr-shop-clickable-action>
    </div>
  </div>
</div>
