@import '~src/styles/configs-and-mixins';

h2 {
  margin-bottom: 24px;
}

.PotentialOrder-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
}

.PotentialOrder--withBorder {
  border-bottom-color: $border-color;
}

.PotentialOrder-products {
  .PotentialOrder-summaryPriceNormal {
    padding: 2 * $gutter-width 2 * $gutter-width 0 0;
    text-align: right;
  }
}

.PotentialOrder-summary {
  .PotentialOrder-summaryPriceNormal {
    padding-top: 8px;
  }

  .PotentialOrder-summaryPriceNormal,
  .PotentialOrder-summaryPriceDelivery,
  .PotentialOrder-summaryPricePayment {
    padding-bottom: 16px;
  }
}

// ------

.PotentialOrder-summaryLeft,
.PotentialOrder-summaryRight {
  padding-bottom: 16px;
}

.PotentialOrder-summaryPriceNormal,
.PotentialOrder-summaryPriceDelivery,
.PotentialOrder-summaryPricePayment {
  span {
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
  }
  span:first-child {
    margin-left: 2px;
  }
  span:last-child {
    margin-left: 8px;
  }
}

.PotentialOrder-summaryPricePayment {
  padding-bottom: 24px;
}

.PotentialOrder-summaryPriceTotal {
  font-size: 20px;
  padding-bottom: 16px;
  line-height: 30px;
  span,
  b {
    white-space: nowrap;
    display: inline-block;
    color: $product-box-price-color;
  }
  b {
    margin-left: 8px;
  }
}

.PotentialOrder-legalConfirmation {
  padding-bottom: 32px;
  position: relative;
  left: -8px;
  > a:first-child {
    display: block;
    min-height: 40px;
    position: relative;
    cursor: pointer;
    color: $color;
    > div:first-child {
      position: absolute;
      top: 0;
      left: 0;
    }
    > div:last-child {
      padding: 12px 0 12px 45px;
    }
  }
  > div {
    padding: 0 0 0 45px;
  }
}

.PotentialOrder-originalPrice {
  text-decoration: line-through;
}
