@import 'configs-and-mixins';

table.u-compact-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    padding: 2px 3px;
    border: 1px solid $border-color;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
    font-family: Calibri, serif;
    line-height: 1em;
  }

  th,
  td,
  tr {
    &.u-green {
      background-color: #8fff66;
    }
    &.u-orange {
      background-color: #ffeae0;
    }
    &.u-red {
      background-color: #ff9898;
    }
    &.u-gray {
      background-color: #e2e2e2;
    }
    &.u-right {
      text-align: right;
    }
  }
}

.u-admin-buttons {
  > * {
    display: inline-block;
    margin-right: 0.5 * $gutter-width;
  }
}

.u-admin-form {
  > div > div:first-child {
    text-align: right;
  }
}

.u-admin-section {
  padding-bottom: 2 * $gutter-width;
  border-bottom: 1px solid $border-color;
  margin-bottom: 2 * $gutter-width;
}
