// ---------------------------------------------------------------------------------------------------------------------
// colors

$a-color: #8bbf4e;
$background-color: white;
$border-color: #d4d4d4;
$button-primary-background-color: #8bbf4e;
$button-primary-color: white;
$color: #909090;
$font-size: 16px;
$input-background-color: #ebebeb;
$input-border-color: #cdcdcd;

$category-box-background-color: #ebebeb;

$top-menu-font-size: 14px;
$top-menu-color-default: #3e3e3e;
$top-menu-color-hover: $a-color;
$top-menu-color-active: $a-color;

// ---------------------------------------------------------------------------------------------------------------------
// grid

$min-viewport-width: 320px;

$container-lg: 1170px;
$container-md: 970px;
$container-sm: 750px;

$grid-columns: 12;
$gutter-width: 15px;

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

@mixin clear() {
  content: ' ';
  display: table;
  clear: both;
}

@mixin col() {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@mixin col-i($i) {
  float: left;
  width: percentage($i / $grid-columns);
  @include col();
}

@mixin col-offset-i($i) {
  margin-left: percentage($i / $grid-columns);
}

