// ---------------------------------------------------------------------------------------------------------------------
// colors and fonts

$h2-color: #3e3e3e;

$clickable-action-disabled-background-color: white;
$clickable-action-disabled-border-color: transparent;
$clickable-action-disabled-color: rgba(147, 112, 152, 0.25);

$clickable-action-primary-background-color: white;
$clickable-action-primary-border-color: #937098;
$clickable-action-primary-color: #937098;

$clickable-action-transparent-background-color: transparent;
$clickable-action-transparent-border-color: #3e3e3e;
$clickable-action-transparent-color: #3e3e3e;

$a-color: #937098;
$border-color: #d4d4d4;
$color: #303030;
$image-background-color: #ddd;
$dark-color: #000000;
$white-color: white;
$light-main-color: #f9f7ff;
$light-main-color-darker: #f4f0ff;
$primary-background-color: white;
$secondary-background-color: #ebebeb;
$font-size: 16px;
$red-color: #a02127;
$orange-color: #a0702c;
$red-light-color: #f4cdd2;
$light-gray-color: #f7f7f7;

$input-background-color: $secondary-background-color;
$input-border-color: #d7d7d7;
$input-color: $h2-color;

$category-box-background-color: $light-gray-color;

$product-box-name-color: $color;
$product-box-price-color: $a-color;

$product-description-background-color: $secondary-background-color;

$top-menu-font-size: 14px;
$top-menu-color-default: #3e3e3e;
$top-menu-color-hover: $a-color;
$top-menu-color-active: $a-color;

$categories-font-size: 14px;
$categories-color-default: #656565;
$categories-color-hover: $a-color;
$categories-color-active: $a-color;

$breadcrumbs-links-separator: 15px;
$breadcrumbs-font-size: 13px;

$footer-color: white;
$footer-font-size: 13px;
$footer-header-color: white;
$footer-header-font-size: 16px;
$footer-header-color-underline: $a-color;
$footer-links-color-active: $a-color;
$footer-links-color-default: #eee;
$footer-links-color-hover: white;

// ---------------------------------------------------------------------------------------------------------------------
// grid

$min-viewport-width: 320px;

$container-xxs: 100%;
$container-xs: 100%;
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;
$container-xlg: 1670px;

$grid-columns: 12;
$gutter-width: 14px;

$screen-xxs-min: 1px;
$screen-xs-min: 500px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1700px;
$screen-max: 100000px;

@mixin col() {
  position: relative;
  min-height: 1px;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
}

@mixin col-i($i) {
  float: left;
  display: block;
  width: percentage($i / $grid-columns);
  @include col();
}

@mixin col-offset-i($i) {
  margin-left: percentage($i / $grid-columns);
}

// -----------

@mixin generate-cols($container-width, $breakpoint) {
  .container {
    width: $container-width;
  }

  @for $i from 1 to $grid-columns + 1 {
    .col-#{$breakpoint}-#{$i} {
      @include col-i($i);
    }
    .col-#{$breakpoint}-offset-#{$i} {
      @include col-offset-i($i);
    }
  }
}

@mixin viewport-min-max($min, $max) {
  @media (min-width: $min) and (max-width: $max - 1) {
    @content;
  }
}

// -----------

@mixin viewport-phone-vertical-only {
  @include viewport-min-max($screen-xxs-min, $screen-xs-min) {
    @content;
  }
}

@mixin viewport-phone-horizontal-only {
  @include viewport-min-max($screen-xs-min, $screen-sm-min) {
    @content;
  }
}

@mixin viewport-tablet-only {
  @include viewport-min-max($screen-sm-min, $screen-md-min) {
    @content;
  }
}

@mixin viewport-desktop-medium-only {
  @include viewport-min-max($screen-md-min, $screen-lg-min) {
    @content;
  }
}

@mixin viewport-desktop-large-only {
  @include viewport-min-max($screen-lg-min, $screen-xlg-min) {
    @content;
  }
}

@mixin viewport-desktop-extra-large-only {
  @include viewport-min-max($screen-xlg-min, $screen-max) {
    @content;
  }
}

// -----------

@mixin viewport-phone-vertical-and-up {
  @content;
}

@mixin viewport-phone-horizontal-and-up {
  @include viewport-min-max($screen-xs-min, $screen-max) {
    @content;
  }
}

@mixin viewport-tablet-and-up {
  @include viewport-min-max($screen-sm-min, $screen-max) {
    @content;
  }
}

@mixin viewport-desktop-medium-and-up {
  @include viewport-min-max($screen-md-min, $screen-max) {
    @content;
  }
}

@mixin viewport-desktop-large-and-up {
  @include viewport-min-max($screen-lg-min, $screen-max) {
    @content;
  }
}

@mixin viewport-desktop-extra-large-and-up {
  @include viewport-min-max($screen-xlg-min, $screen-max) {
    @content;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// other

@mixin clear() {
  content: ' ';
  display: table;
  clear: both;
}

@mixin font-primary() {
  font-family: 'CustomizedOpenSans', sans-serif;
}

@mixin font-secondary() {
  font-family: 'CustomizedRobotoCondensed', sans-serif;
}

@mixin display($breakpoint) {
  .hidden-#{$breakpoint} {
    display: none !important;
  }
  .display-#{$breakpoint}-block {
    display: block !important;
  }
  .display-#{$breakpoint}-inline {
    display: inline !important;
  }
  .display-#{$breakpoint}-inline-block {
    display: inline-block !important;
  }
}
