@import '~src/styles/configs-and-mixins';

.u-formatted-content {
  line-height: 1.5em;
  font-size: 0.87em;

  p {
    display: block;
    padding-bottom: 16px;

    img {
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  ul,
  ol {
    display: block;
    padding: 0 0 0 32px;
    li {
      padding: 0 0 8px 0;
    }
  }

  ul,
  ol {
    > li {
      ul,
      ol {
        padding-top: 8px;
      }
    }
  }

  h3 {
    margin-top: 24px;
  }
}

.u-formatted-json {
  font-family: monospace;
  font-size: 10px;
  line-height: 1.1em;
  width: 100%;
  overflow-x: auto;
}
