@import 'configs-and-mixins';

input.u-form-input,
textarea.u-form-input {
  background-color: $input-background-color;
  border: none; // 1px solid $input-border-color;
  display: block;
  height: 40px;
  font-size: 16px;
  padding: 6px 10px;
  width: 100%;
  color: $input-color;
  outline: none;
  @include font-primary();
  &::-ms-clear {
    display: none;
  }
  &::placeholder {
    color: $color;
  }
  &.u-form-input--invalid {
    background-color: $red-light-color;
  }
  &:disabled {
    cursor: not-allowed !important;
    background-color: $border-color;
  }
}

textarea.u-form-input {
  min-height: 120px;
  padding: 9px 10px;
}

label.u-form-label {
  padding: 12px 0 0 0;
  display: block;
}

label.u-form-label-required:after {
  content: '*';
}

.u-form-warning-container {
  color: $orange-color;
  font-size: 12px;
}

.u-form-error-container {
  color: $red-color;
  font-size: 12px;
}
