.u-formatted-content {
  line-height: 1.5em;
  p {
    display: block;
    padding-bottom: 16px;
  }

  ul,
  ol {
    display: block;
    padding: 0 0 16px 32px;
    li {
      padding: 0 0 16px 0;
    }
  }
}
