@import 'configs-and-mixins';

input.FormInput,
textarea.FormInput {
  background-color: $input-background-color;
  border: none; // 1px solid $input-border-color;
  display: block;
  height: 40px;
  font-size: 16px;
  padding: 6px 10px;
  width: 100%;
  color: $input-color;
  outline: none;
  @include font-primary();
  &::-ms-clear {
    display: none;
  }
  &::placeholder {
    color: $color;
  }
  &.FormInput--invalid {
    background-color: $red-light-color;
  }
}

textarea.FormInput {
  min-height: 120px;
}

.FormInput-error {
  color: $red-color;
}
