@import 'configs-and-mixins';

// Based on: https://getbootstrap.com/docs/3.4/css/#grid

.row {
  margin-right: -$gutter-width;
  margin-left: -$gutter-width;
}

.container {
  margin-right: auto;
  margin-left: auto;
  @include col();
}

.row:before,
.row:after,
.container:before,
.container:after {
  @include clear();
}

.clearfix {
  position: relative;
  min-height: 1px;
  &:before,
  &:after {
    @include clear();
  }
}

.margin-bottom {
  margin-bottom: $gutter-width;
}

.padding-top {
  padding-top: $gutter-width;
}

.padding-bottom {
  padding-bottom: $gutter-width;
}

.padding {
  padding: $gutter-width;
}

.hidden {
  display: none !important;
}

// ----------------------------------------------------------------

@include viewport-phone-vertical-and-up {
  @include generate-cols($container-xxs, 'xxs');
}

@include viewport-phone-vertical-only {
  @include display('xxs');
}
// ----------------------------------------------------------------

@include viewport-phone-horizontal-and-up {
  @include generate-cols($container-xs, 'xs');
}

@include viewport-phone-horizontal-only {
  @include display('xs');
}

// ----------------------------------------------------------------

@include viewport-tablet-and-up {
  @include generate-cols($container-sm, 'sm');
}

@include viewport-tablet-only {
  @include display('sm');
}

// ----------------------------------------------------------------

@include viewport-desktop-medium-and-up {
  @include generate-cols($container-md, 'md');
}

@include viewport-desktop-medium-only {
  @include display('md');
}

// ----------------------------------------------------------------

@include viewport-desktop-large-and-up {
  @include generate-cols($container-lg, 'lg');
}

@include viewport-desktop-large-only {
  @include display('lg');
}

// ----------------------------------------------------------------

@include viewport-desktop-extra-large-and-up {
  @include generate-cols($container-xlg, 'xlg');
}

@include viewport-desktop-extra-large-only {
  @include display('xlg');
}
