@import 'configs-and-mixins';

// Based on: https://getbootstrap.com/docs/3.4/css/#grid

.row {
  margin-right: -$gutter-width;
  margin-left: -$gutter-width;
}

.container {
  margin-right: auto;
  margin-left: auto;
  @include col();
}

.row:before,
.row:after,
.container:before,
.container:after {
  @include clear();
}

.clearfix {
  position: relative;
  min-height: 1px;
  &:before,
  &:after {
    @include clear();
  }
}

.margin-bottom {
  margin-bottom: $gutter-width;
}

.padding-top {
  padding-top: $gutter-width;
}

.padding-bottom {
  padding-bottom: $gutter-width;
}

.padding {
  padding: $gutter-width;
}

.hidden {
  display: none;
}

// ----------------------------------------------------------------

@include viewport-phone-and-up {
  @for $i from 1 to $grid-columns + 1 {
    .col-xs-#{$i} {
      @include col-i($i);
    }
    .col-xs-offset-#{$i} {
      @include col-offset-i($i);
    }
  }
}

@include viewport-phone-only {
  @include display('xs');
}

// ----------------------------------------------------------------

@include viewport-tablet-and-up {
  .container {
    width: $container-sm;
  }

  @for $i from 1 to $grid-columns + 1 {
    .col-sm-#{$i} {
      @include col-i($i);
    }
    .col-sm-offset-#{$i} {
      @include col-offset-i($i);
    }
  }
}

@include viewport-tablet-only {
  @include display('sm');
}

// ----------------------------------------------------------------

@include viewport-desktop-medium-and-up {
  .container {
    width: $container-md;
  }

  @for $i from 1 to $grid-columns + 1 {
    .col-md-#{$i} {
      @include col-i($i);
    }
    .col-md-offset-#{$i} {
      @include col-offset-i($i);
    }
  }
}

@include viewport-desktop-medium-only {
  @include display('md');
}

// ----------------------------------------------------------------

@include viewport-desktop-large-and-up {
  .container {
    width: $container-lg;
  }

  @for $i from 1 to $grid-columns + 1 {
    .col-lg-#{$i} {
      @include col-i($i);
    }
    .col-lg-offset-#{$i} {
      @include col-offset-i($i);
    }
  }
}

@include viewport-desktop-large-only {
  @include display('lg');
}
