@import 'configs-and-mixins';

html {
  scroll-behavior: smooth;
}

body,
html {
  color: $color;
  font-size: $font-size;
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-decoration: none;
  @include font-primary();
}

body {
  @include viewport-tablet-and-up {
    // background: url('../assets/body-bg.png') repeat top center $primary-background-color;
  }
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

h1 {
  font-size: 27px;
  line-height: 1.1em;
}

h2 {
  font-size: 25px;
  line-height: 1.1em;
  color: $h2-color;
}

h3 {
  font-size: 23px;
  line-height: 1.1em;
}

h4 {
  font-size: 21px;
  line-height: 1.1em;
}

.wrapper {
  width: 100%;
  min-width: $min-viewport-width;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $a-color;
}
