@import 'configs-and-mixins';

html {
  scroll-behavior: smooth;
}

body,
html {
  color: $color;
  font-size: $font-size;
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-decoration: none;
  @include font-primary();
}

body {
  @include viewport-tablet-and-up {
    // background: url('../assets/body-bg.png') repeat top center $primary-background-color;
  }
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

h1 {
  font-size: 27px;
  line-height: 1.1em;
}

h2,
h3,
h4,
h5,
h6 {
  color: $h2-color;
  font-weight: normal;
  line-height: 1.1em;
}

h2 {
  font-size: 25px;
  margin-bottom: 36px;
}

h3 {
  font-size: 23px;
  margin-bottom: 20px;
}

h4 {
  font-size: 21px;
  margin-bottom: 16px;
}

h5 {
  font-size: 19px;
  margin-bottom: 4px;
}

h5 {
  font-size: 17px;
  margin-bottom: 4px;
}

.wrapper {
  width: 100%;
  min-width: $min-viewport-width;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $a-color;
}

.u-block-overlay {
  position: relative;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.6;
  }
}
