@import 'configs-and-mixins';

.OrderItemsOverview {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    th {
      padding: 8px 10px;
      border: 1px solid $border-color;
      vertical-align: top;
      text-align: left;
    }
  }
}

.OrderItemsOverview-empty {
  text-align: center;
  padding: 32px 0;
  line-height: 1.5em;
  background-color: $secondary-background-color;
}
