<div class="OrderItemsOverview">
  <div *ngIf="orderItems?.length; else orderEmpty">
    <div class="OrderOverview-section">
      <table>
        <thead>
          <tr>
            <th>Produkt</th>
            <th class="hidden-xxs hidden-xs hidden-sm">Liczba</th>
            <th class="hidden-xxs hidden-xs hidden-sm">Cena</th>
            <th class="hidden-xxs hidden-xs hidden-sm">Wartość</th>
            <th class="hidden-xxs hidden-xs hidden-sm">Akcje</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let orderItem of orderItems; trackBy: trackBy"
            rr-shop-order-item-overview
            [orderItem]="orderItem"
          ></tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #orderEmpty>
    <rr-shop-no-content>
      Twój koszyk jest pusty :(
      <br />
      Zapraszamy do zakupów!
    </rr-shop-no-content>
  </ng-template>
</div>
