@import 'configs-and-mixins';

.TopMenu {
  text-align: center;
  padding-bottom: $gutter-width;

  ul,
  li {
    display: inline-block;
  }

  li {
    a {
      color: $top-menu-color-default;
      font-size: $top-menu-font-size;
      font-weight: bold;
      &:hover {
        color: $top-menu-color-hover;
      }
      &.TopMenu-link--active {
        color: $top-menu-color-active;
      }
    }

    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 10px;

    @include viewport-phone-and-up {
      margin: 0 20px;
    }
  }

  @include viewport-tablet-and-up {
    text-align: left;
    padding-bottom: 0;
    li {
      margin: 0 25px 0 0;
    }
  }
}
