@import 'configs-and-mixins';

.TopMenu {
  text-align: center;

  ul,
  li {
    display: inline-block;
  }

  li {
    margin: 0 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    a {
      color: $top-menu-color-default;
      font-size: $top-menu-font-size;
      font-weight: bold;
      &:hover {
        color: $top-menu-color-hover;
      }
      &.TopMenu-link--active {
        color: $top-menu-color-active;
      }
    }

    @include viewport-x-and-down($logo-width + 2 * $gutter-width) {
      margin: 0 10px;
    }
  }
}

@include viewport-desktop-medium-and-up {
  .TopMenu {
    text-align: left;
  }
}
