@import 'configs-and-mixins';

.TopMenu {
  ul,
  li,
  a {
    display: inline-block;
  }

  li {
    a {
      color: $top-menu-color-default;
      font-size: $top-menu-font-size;
      font-weight: bold;
      &:hover {
        color: $top-menu-color-hover;
      }
      &.TopMenu-link--active {
        color: $top-menu-color-active;
      }
    }
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.TopMenu-wide {
  li {
    margin-left: 1.5 * $gutter-width;
    margin-right: 1.5 * $gutter-width;
  }
}

.TopMenu-center {
  text-align: center;
}
.TopMenu-left {
  text-align: left;
}
.TopMenu-right {
  text-align: right;
}

.TopMenu-right,
.TopMenu-left {
  li:first-child {
    margin-left: 0;
  }
  li:last-child {
    margin-right: 0;
  }
}

.TopMenu-facebook {
  > div {
    display: block;
    position: relative;
    height: 16px;
    width: 40px;
    > * {
      display: block;
      position: absolute;
      top: -12px;
    }
  }
}
