@import 'configs-and-mixins';

.SliderImage {
  position: relative;
  overflow: hidden;

  .SliderImage-slider {
    position: absolute;
    width: 19200px;
    left: 0;
    transition: left ease-in-out 200ms;
    a {
      display: block;
      float: left;
    }
    img {
      display: block;
    }
  }

  .SliderImage-left,
  .SliderImage-right {
    display: none;
    position: absolute;
    top: (300 - 40) * 0.5px;
  }
  .SliderImage-left {
    left: 0;
  }
  .SliderImage-right {
    right: 0;
  }
  &:hover {
    .SliderImage-left,
    .SliderImage-right {
      display: block;
    }
  }
}

.SliderImage-sizeContainer064px,
.SliderImage-sizeContainer064px img,
.SliderImage-sizeContainer064px a {
  width: 64px;
  height: 64px;
}

.SliderImage-sizeContainer200px,
.SliderImage-sizeContainer200px img,
.SliderImage-sizeContainer200px a {
  width: 200px;
  height: 200px;
}

.SliderImage-sizeContainer300px,
.SliderImage-sizeContainer300px img,
.SliderImage-sizeContainer300px a {
  width: 300px;
  height: 300px;
}
