<div class="NotFound">
  <h2 class="margin-bottom">Znaleziono 0 produktów</h2>

  <div class="margin-bottom">
    <pre>{{ viewportService.scrolledDownThatHeaderIsNotVisible$ | async | json }}</pre>
    <pre>{{ viewportService.device$ | async | json }}</pre>
  </div>

  <p class="HiddenTest">
    Mobile vertical: <span class="display-xxs-inline-block">Mobile vertical</span>
    <br />

    Mobile: <span class="display-xs-inline-block">Mobile</span>
    <br />

    Tablet: <span class="display-sm-inline-block">Tablet</span>
    <br />

    Desktop medium: <span class="display-md-inline-block">Desktop medium</span>
    <br />

    Desktop large: <span class="display-lg-inline-block">Desktop large</span>
    <br />
  </p>

  <p>
    Mobile vertical: <span class="hidden-xxs">Mobile vertical</span>
    <br />

    Mobile: <span class="hidden-xs">Mobile</span>
    <br />

    Tablet: <span class="hidden-sm">Tablet</span>
    <br />

    Desktop medium: <span class="hidden-md">Desktop medium</span>
    <br />

    Desktop large: <span class="hidden-lg">Desktop large</span>
    <br />
  </p>
</div>
