<div class="Search">
  <h2>Znaleziono 0 produktów</h2>

  <div class="margin-bottom">
    <pre>{{ viewportService.isScrolledDownThatHeaderIsNotVisible$ | async | json }}</pre>
    <pre>{{ viewportService.device$ | async | json }}</pre>
  </div>

  <div class="row">
    <div class="col-xxs-8">
      <p class="HiddenTest">
        Mobile vertical:
        <br />

        Mobile:
        <br />

        Tablet:
        <br />

        Desktop medium:
        <br />

        Desktop large:
        <br />

        Desktop extra large:
        <br />
      </p>
    </div>
    <div class="col-xxs-2">
      <p class="HiddenTest">
        <span class="display-xxs-inline-block">-</span>
        <br />

        <span class="display-xs-inline-block">-</span>
        <br />

        <span class="display-sm-inline-block">-</span>
        <br />

        <span class="display-md-inline-block">-</span>
        <br />

        <span class="display-lg-inline-block">-</span>
        <br />

        <span class="display-xlg-inline-block">-</span>
        <br />
      </p>
    </div>
    <div class="col-xxs-2">
      <p>
        <span class="hidden-xxs">-</span>
        <br />

        <span class="hidden-xs">-</span>
        <br />

        <span class="hidden-sm">-</span>
        <br />

        <span class="hidden-md">-</span>
        <br />

        <span class="hidden-lg">-</span>
        <br />

        <span class="hidden-xlg">-</span>
        <br />
      </p>
    </div>
  </div>
</div>
