<rr-shop-admin-menu></rr-shop-admin-menu>

<h2>Admin / lista produktów</h2>

<span *ngIf="isLoading">Wczytywanie listy...</span>
<span *ngIf="isError">Błąd podczas ładowania listy</span>

<div *ngIf="data">
  <table>
    <tr
      *ngFor="let item of data"
      [ngClass]="{
        active: item?.orderItems.length > 0,
        'is-hidden': item?.isHidden
      }"
    >
      <td>{{ item.externalId }}</td>
      <td>
        <a [routerLink]="[item.id]">{{ item.name }}</a>
      </td>
      <td class="td-monospace">
        {{ item?.nameCashRegister }}
      </td>
      <td>
        {{ item?.manufacturer?.name }}
      </td>
      <td>
        {{ item?.priceUnit | price }}
      </td>
      <td>
        {{ item?.quantity }}
      </td>
      <td>
        {{ item?.isHidden ? 'ukryty' : 'widoczny' }}
      </td>
    </tr>
  </table>
</div>
