<rr-shop-admin-menu></rr-shop-admin-menu>

<h2>Admin / lista produktów</h2>

<span *ngIf="isLoading">Wczytywanie listy...</span>
<span *ngIf="isError">Błąd podczas ładowania listy</span>

<div *ngIf="data">
  <table>
    <tr>
      <th>Lp.</th>
      <th>Nazwa</th>
      <th>Nazwa na kasie fiskalnej</th>
      <th>Producent</th>
      <th>Dostawy</th>
      <th>Zamówienia</th>
      <th>Dostępnych</th>
      <th>Cena w sklepie</th>
      <th>Widoczność</th>
    </tr>
    <tr
      *ngFor="let item of data"
      [ngClass]="{
        active: item?.orderItems?.length > 0,
        'is-hidden': item?.isHidden
      }"
    >
      <td class="td-right">{{ item.externalId }}</td>
      <td>
        <a [routerLink]="[item.id]">{{ item.name }}</a>
      </td>
      <td class="td-monospace">
        {{ item?.nameCashRegister }}
      </td>
      <td>
        {{ item?.manufacturer?.name }}
      </td>

      <td class="td-right" title="Sztuki z dostaw nie oznaczone jako niedostępne (od początku działalności)">
        {{ item?.supplies?.length }}
      </td>
      <td class="td-right" title="Sztuki z zamówień różnych od Anulowane (od początku działalności)">
        {{ getOrderItemsQuantityTotal(item?.orderItems) }}
      </td>
      <td class="td-right" title="Stan widoczny dla klienta na stronie">
        <b>{{ item?.quantity }}</b>
      </td>
      <td class="td-right">
        {{ item?.priceUnit | price }}
      </td>
      <td>
        {{ item?.isHidden ? 'ukryty' : 'widoczny' }}
      </td>
    </tr>
  </table>
</div>
