<div
  [ngClass]="{
    'u-block-overlay': products?.adminCallState === AdminCallState.Request
  }"
>
  <rr-shop-admin-menu></rr-shop-admin-menu>

  <h2>Admin / lista produktów</h2>

  <div class="u-admin-section u-admin-buttons">
    <rr-shop-clickable-action (actionClick)="refresh()" label="Odśwież"></rr-shop-clickable-action>
    <rr-shop-clickable-action
      [clickableActionType]="ClickableActionType.Anchor"
      [target]="'_blank'"
      [link]="cashRegisterCsvLink"
      label="Wygeneruj CSV na kasę fiskalną"
    ></rr-shop-clickable-action>
    <rr-shop-clickable-action
      [clickableActionTheme]="ClickableActionTheme.Primary"
      [clickableActionType]="ClickableActionType.RouterLink"
      [label]="'Nowy produkt'"
      [link]="'/admin/product/new'"
    ></rr-shop-clickable-action>
  </div>

  <div *ngIf="products?.data as d">
    <div class="u-admin-section">
      <h4>Produkty</h4>
      <div>
        <table class="u-compact-table">
          <tr>
            <th>Lp.</th>
            <th>Nazwa</th>
            <th>Nazwa na kasie fiskalnej</th>
            <th>Producent</th>
            <th>Dostawca</th>
            <th>Dostawy</th>
            <th>Zamówienia</th>
            <th>Dostępnych</th>
            <th>Cena w sklepie</th>
            <th>Widoczność</th>
          </tr>
          <tr
            *ngFor="let item of d"
            [ngClass]="{
              'u-green': item?.orderItems?.length > 0,
              'u-gray': item?.isHidden
            }"
          >
            <td class="u-right">{{ item.externalId }}</td>
            <td>
              <a [routerLink]="[item.id]">{{ item.name }}</a>
            </td>
            <td class="u-monospace">
              {{ item?.nameCashRegister }}
            </td>
            <td>
              {{ item?.manufacturer?.name }}
            </td>
            <td>
              {{ item?.distributor?.name }}
            </td>
            <td class="u-right" title="Sztuki z dostaw nie oznaczone jako niedostępne (od początku działalności)">
              {{ item?.supplies?.length }}
            </td>
            <td class="u-right" title="Sztuki z zamówień różnych od Anulowane (od początku działalności)">
              {{ getOrderItemsQuantityTotal(item?.orderItems) }}
            </td>
            <td
              class="u-right"
              title="Stan widoczny dla klienta na stronie"
              [ngClass]="{ 'u-red': item?.quantity <= 0 }"
            >
              <b>{{ item?.quantity }}</b>
            </td>
            <td class="u-right">
              {{ item?.priceUnit | price }}
            </td>
            <td>
              {{ item?.isHidden ? 'ukryty' : 'widoczny' }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
