<td class="OrderItemOverview-name">
  <a [routerLink]="orderItem?.productStore | productUrl">
    <rr-shop-image
      [images]="orderItem.productStore?.images"
      [size]="Size.Thumb064px"
      class="OrderItemOverview-image"
    ></rr-shop-image>
    <span>{{ orderItem.productStore?.name }}</span>
    <div class="hidden-md hidden-lg">
      {{ orderItem.productStore?.priceUnit | price }}
      x
      {{ orderItem.quantity }}
      =
      {{ orderItem.getPriceTotalOriginal() | price }}
    </div>
  </a>

  <div class="OrderItemOverview-aggregation hidden-md hidden-lg">
    <rr-shop-clickable-action
      (actionClick)="remove(orderItem.id)"
      [icon]="['far', 'trash-alt']"
    ></rr-shop-clickable-action>

    <div>
      <rr-shop-clickable-action
        (actionClick)="quantityDecrement(orderItem.id)"
        [disabled]="!orderItem.isQuantityDecrementActive()"
        [icon]="['fas', 'minus']"
      ></rr-shop-clickable-action>
      <rr-shop-clickable-action
        (actionClick)="quantityIncrement(orderItem.id)"
        [icon]="['fas', 'plus']"
      ></rr-shop-clickable-action>
    </div>
  </div>
</td>
<td class="OrderItemOverview-quantity hidden-xxs hidden-xs hidden-sm">
  <div>
    <rr-shop-clickable-action
      (actionClick)="quantityDecrement(orderItem.id)"
      [disabled]="!orderItem.isQuantityDecrementActive()"
      [icon]="['fas', 'minus']"
    ></rr-shop-clickable-action>
    <span>
      {{ orderItem.quantity }}
    </span>
    <rr-shop-clickable-action
      (actionClick)="quantityIncrement(orderItem.id)"
      [icon]="['fas', 'plus']"
    ></rr-shop-clickable-action>
  </div>
</td>
<td class="OrderItemOverview-price hidden-xxs hidden-xs hidden-sm">
  <span>
    {{ orderItem.productStore?.priceUnit | price }}
  </span>
</td>
<td class="OrderItemOverview-itemPrice hidden-xxs hidden-xs hidden-sm">
  <span>
    {{ orderItem.getPriceTotalOriginal() | price }}
  </span>
</td>
<td class="OrderItemOverview-actions hidden-xxs hidden-xs hidden-sm">
  <rr-shop-clickable-action
    (actionClick)="remove(orderItem.id)"
    [icon]="['far', 'trash-alt']"
  ></rr-shop-clickable-action>
</td>
