@import 'configs-and-mixins';

td {
  padding: 8px 10px;
  border: 1px solid $border-color;
  vertical-align: top;
  text-align: left;

  .OrderItemOverview-aggregation {
    padding-top: 8px;
    div {
      float: right;
      * {
        margin-left: 8px;
      }
    }
  }
}

.OrderItemOverview-name {
  > div:first-child {
    display: block;
    width: 100%;
    min-height: 64px;
    position: relative;
    .OrderItemOverview-image {
      position: absolute;
      display: block;
      width: 64px;
      height: 64px;
    }
    > div {
      display: block;
      padding: 0 0 0 75px;

      @include viewport-desktop-medium-and-up {
        padding: 12px 0 0 75px;
      }

      > a {
        display: block;
        padding: 0 0 8px 0;
      }
      > div {
        padding: 0 0 16px 0;
      }
    }
  }
}

.OrderItemOverview-quantity {
  width: 150px;
  div {
    width: 120px;
    position: relative;
    *:first-child {
      position: absolute;
    }
    *:last-child {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  span {
    display: block;
    padding-top: 12px;
    height: 40px;
    text-align: center;
  }
}

.OrderItemOverview-price {
  width: 100px;
}

.OrderItemOverview-price,
.OrderItemOverview-itemPrice {
  width: 100px;
  span {
    display: inline-block;
    padding: 12px 0 0 0;
  }
}

.OrderItemOverview-actions {
  width: 100px;
}
