<div
  class="Image"
  [ngClass]="{
    'Image-thumb-064px': size === Size.Px0064,
    'Image-thumb-200px': size === Size.Px0200,
    'Image-thumb-300px': size === Size.Px0300
  }"
>
  <!-- TODO work on the conditions logic -->

  <img *ngIf="!slider && images?.length === 1" [attr.src]="images[0] | image: size" [attr.alt]="images[0].filename" />

  <div *ngIf="slider" class="Image-slider" [ngStyle]="{ left: -300 * position + 'px' }">
    <a *ngFor="let image of images; trackBy: trackBy" [attr.href]="image | image: Size.Px1600" target="_blank">
      <img [attr.src]="image | image: size" [attr.alt]="image.filename" />
    </a>
  </div>

  <rr-shop-clickable-action
    *ngIf="slider && images?.length > 1"
    (actionClick)="onLeftClick()"
    [clickableActionTheme]="ClickableActionTheme.TransparentDark"
    [icon]="['fas', 'arrow-circle-left']"
    class="Image-left"
  ></rr-shop-clickable-action>

  <rr-shop-clickable-action
    *ngIf="slider && images?.length > 1"
    (actionClick)="onRightClick()"
    [clickableActionTheme]="ClickableActionTheme.TransparentDark"
    [icon]="['fas', 'arrow-circle-right']"
    class="Image-right"
  ></rr-shop-clickable-action>
</div>
