<div
  class="Image"
  [ngClass]="{
    'Image-thumb-064px': size === Size.Px0064,
    'Image-thumb-200px': size === Size.Px1600,
    'Image-thumb-300px': size === Size.Px0300
  }"
>
  <div class="Image-slider" [ngStyle]="{ left: -300 * position + 'px' }">
    <img [attr.src]="image | image: size" [attr.alt]="image.filename" *ngFor="let image of images; trackBy: trackBy" />
  </div>

  <rr-shop-clickable-action
    *ngIf="slider && images.length > 1"
    (actionClick)="onLeftClick()"
    [clickableActionTheme]="ClickableActionTheme.TransparentDark"
    [icon]="['fas', 'arrow-circle-left']"
    class="Image-left"
  ></rr-shop-clickable-action>

  <rr-shop-clickable-action
    *ngIf="slider && images.length > 1"
    (actionClick)="onRightClick()"
    [clickableActionTheme]="ClickableActionTheme.TransparentDark"
    [icon]="['fas', 'arrow-circle-right']"
    class="Image-right"
  ></rr-shop-clickable-action>
</div>
