<div
  class="Image"
  [ngClass]="{
    'Image-sizeContainer064px': sizeImageContainer === SizeImageContainer.Px0064,
    'Image-sizeContainer200px': sizeImageContainer === SizeImageContainer.Px0200,
    'Image-sizeContainer300px': sizeImageContainer === SizeImageContainer.Px0300
  }"
>
  <!-- TODO work on the conditions logic -->

  <img
    *ngIf="!slider && images?.length === 1"
    [attr.src]="images[0] | image: sizeImage"
    [attr.alt]="images[0].filename"
  />

  <div *ngIf="slider" class="Image-slider" [ngStyle]="{ left: -300 * position + 'px' }">
    <a
      *ngFor="let image of images; trackBy: trackBy"
      [attr.href]="image | image: SizeImage.Px1600:Transparency.Disabled"
      target="_blank"
    >
      <img [attr.src]="image | image: sizeImage" [attr.alt]="image.filename" />
    </a>
  </div>

  <rr-shop-clickable-action
    *ngIf="slider && images?.length > 1"
    (actionClick)="onLeftClick()"
    [clickableActionTheme]="ClickableActionTheme.TransparentDark"
    [icon]="['fas', 'arrow-circle-left']"
    class="Image-left"
  ></rr-shop-clickable-action>

  <rr-shop-clickable-action
    *ngIf="slider && images?.length > 1"
    (actionClick)="onRightClick()"
    [clickableActionTheme]="ClickableActionTheme.TransparentDark"
    [icon]="['fas', 'arrow-circle-right']"
    class="Image-right"
  ></rr-shop-clickable-action>
</div>
