<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-supply-form-id">Id</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input id="admin-supply-form-id" class="u-form-input" type="text" [value]="supply.id" disabled />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-supply-form-vat">Vat</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input id="admin-supply-form-vat" class="u-form-input" type="number" step="0.01" [(ngModel)]="supply.vat" />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-supply-form-price-unit-gross">Cena zakupu brutto</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input
      id="admin-supply-form-price-unit-gross"
      class="u-form-input"
      type="number"
      step="0.01"
      [(ngModel)]="supply.priceUnitGross"
    />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-supply-form-best-before">Data ważności</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input id="admin-supply-form-best-before" class="u-form-input" type="text" [(ngModel)]="supply.bestBefore" />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-product-form-notes">Notatki (widoczne w adminie)</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <textarea
      id="admin-product-form-notes"
      class="u-form-input u-monospace"
      type="text"
      style="height: 100px; font-size: 11px;"
      [(ngModel)]="supply.notes"
    ></textarea>
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-is-unavailable">Czy nie dostępny</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input
      id="admin-category-form-is-unavailable"
      class="u-form-input"
      type="checkbox"
      [(ngModel)]="supply.isUnavailable"
    />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label">Przypisane do pozycji z zamówienia</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input
      id="admin-supply-order-item-id"
      class="u-form-input"
      type="text"
      value="{{ supply?.orderItem?.order?.number }}"
      disabled
    />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-product-id">Product</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <select class="u-form-input" id="admin-category-form-product-id" [(ngModel)]="supply.productId">
      <option [value]="null">-- brak --</option>
      <option *ngFor="let item of products" [value]="item.id">
        [{{ item.externalId | externalId }}] {{ item.name }}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-created-at">Utworzono</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input
      id="admin-category-form-created-at"
      class="u-form-input"
      type="text"
      [value]="supply.createdAt | dateCustom"
      disabled
    />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-updated-at">Zmodyfikowano</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input
      id="admin-category-form-updated-at"
      class="u-form-input"
      type="text"
      [value]="supply.updatedAt | dateCustom"
      disabled
    />
  </div>
</div>
