<div class="OrderItemsOverview">
  <div *ngIf="(orderItemsByProductType$ | async).length; else orderEmpty">
    <div class="OrderOverview-section">
      <table>
        <thead>
          <tr>
            <th>Produkt</th>
            <th class="hidden-xxs hidden-xs hidden-sm">Liczba</th>
            <th class="hidden-xxs hidden-xs hidden-sm">Cena</th>
            <th class="hidden-xxs hidden-xs hidden-sm">Wartość</th>
            <th class="hidden-xxs hidden-xs hidden-sm">Akcje</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let orderItem of orderItemsByProductType$ | async; trackBy: trackBy"
            rr-shop-order-overview-item
            [orderItem]="orderItem"
          ></tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #orderEmpty>
    <div class="OrderItemsOverview-empty">
      Twój koszyk jest pusty :(
      <br />
      Zapraszamy do zakupów!
    </div>
  </ng-template>
</div>
