<div class="Product" *ngIf="activeProductEnriched$ | async as activeProductEnriched">
  <div class="row">
    <div class="col-xxs-12 col-md-6 Product-imageContainer">
      <rr-shop-image [images]="activeProductEnriched.images" [size]="Size.Px0300" [slider]="true"></rr-shop-image>
    </div>
    <div class="col-xxs-12 col-md-6 Product-overviewContainer">
      <h2>{{ activeProductEnriched.name }}</h2>

      <div class="Product-price">
        {{ activeProductEnriched.priceUnit | price }}
      </div>

      <ng-container *ngIf="activeProductEnriched.orderItem">
        <div class="Product-alreadyInBasketQuantityAndActions">
          <div class="Product-alreadyInBasketQuantity">
            W koszyku: <b>{{ activeProductEnriched.orderItem.quantity }}</b>
          </div>
          <div class="Product-alreadyInBasketActions">
            <rr-shop-clickable-action
              (actionClick)="remove(activeProductEnriched.orderItem.id)"
              [label]="'Usuń z koszyka'"
              [icon]="['far', 'trash-alt']"
            ></rr-shop-clickable-action>
            <rr-shop-clickable-action
              (actionClick)="quantityDecrement(activeProductEnriched.orderItem.id)"
              [disabled]="!activeProductEnriched.orderItem.isQuantityDecrementActive()"
              [icon]="['fas', 'minus']"
            ></rr-shop-clickable-action>
            <rr-shop-clickable-action
              (actionClick)="quantityIncrement(activeProductEnriched.orderItem.id)"
              [disabled]="!activeProductEnriched.orderItem.isQuantityIncrementActive()"
              [icon]="['fas', 'plus']"
            ></rr-shop-clickable-action>
          </div>
        </div>

        <div
          *ngIf="activeProductEnriched.orderItem.isProductQuantityExceededTextVisible()"
          class="Product-alreadyInBasketNotification u-form-error-container"
        >
          Niestety nie posiadamy tylu sztuk produktu na magazynie :(
          <br />
          Dostępnych na magazynie: <b>{{ activeProductEnriched.quantity }}</b>
        </div>
        <div
          *ngIf="activeProductEnriched.orderItem.isProductQuantityReached()"
          class="Product-alreadyInBasketNotification u-form-warning-container"
        >
          Nie można dodać więcej sztuk
          <br />
          Dostępnych na magazynie: <b>{{ activeProductEnriched.quantity }}</b>
        </div>
      </ng-container>

      <div *ngIf="!activeProductEnriched.orderItem" class="Product-notInBasketYet">
        <rr-shop-clickable-action
          *ngIf="activeProductEnriched.quantity !== 0; else notAvailable"
          (actionClick)="addToOrder(activeProductEnriched)"
          [label]="'Do koszyka'"
          [icon]="['fas', 'shopping-basket']"
        ></rr-shop-clickable-action>

        <ng-template #notAvailable>
          <span>Produkt niedostępny</span>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="u-formatted-content Product-description" markdown [data]="activeProductEnriched.description"></div>
</div>
