@import 'configs-and-mixins';

.Product {
  .Product-imageContainer {
    margin-bottom: 2 * $gutter-width;
    img {
      background-color: $image-background-color;
      display: block;
      height: 300px;
      width: 300px;
      margin: 0 auto;
    }
  }

  .Product-overviewContainer {
    margin-bottom: 2 * $gutter-width;
    .Product-price {
      font-size: 20px;
      color: $product-box-price-color;
      font-weight: bold;
      padding: 16px 0;
    }

    .Product-basketQuantity {
      > span {
        padding: 16px 0 24px 0;
        display: block;
      }
      > div {
        > * {
          margin-left: 4px;
        }
        > *:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .Product-description {
    padding: 24px;
    background-color: $product-description-background-color;
    color: $product-description-color;
    line-height: 1.5em;
    margin-bottom: 64px;
  }
}
