@import 'configs-and-mixins';

.Product {
  img {
    background-color: lightgray;
    display: block;
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }

  .Product-price {
    font-size: 20px;
    color: $product-box-price-color;
    font-weight: bold;
    padding: 16px 0;
  }

  .Product-description {
    padding: 24px;
    background-color: $product-description-background-color;
    color: $product-description-color;
    line-height: 1.5em;
    margin-bottom: 64px;
  }
}
