<div class="Product" *ngIf="activeProduct$ | async as activeProduct">
  <div class="row">
    <div class="col-xxs-12 col-md-6 Product-imageContainer">
      <rr-shop-image
        [images]="activeProduct.images"
        [sizeImage]="SizeImage.Px0600"
        [sizeImageContainer]="SizeImageContainer.Px0300"
        [slider]="true"
      ></rr-shop-image>
    </div>
    <div class="col-xxs-12 col-md-6 Product-overviewContainer">
      <h2>
        {{ activeProduct.name }}<ng-container *ngIf="activeProduct?.manufacturer?.name">, </ng-container>
        {{ activeProduct?.manufacturer?.name }}
      </h2>

      <div class="Product-price">
        {{ activeProduct.priceUnit | price }}
      </div>

      <ng-container *ngIf="activeProduct.orderItem">
        <div class="Product-alreadyInBasketQuantityAndActions">
          <div class="Product-alreadyInBasketQuantity">
            W koszyku: <b>{{ activeProduct.orderItem.quantity }}</b>
          </div>
          <div class="Product-alreadyInBasketActions">
            <rr-shop-clickable-action
              (actionClick)="remove(activeProduct.orderItem.id)"
              [label]="'Usuń z koszyka'"
              [icon]="['far', 'trash-alt']"
            ></rr-shop-clickable-action>
            <rr-shop-clickable-action
              (actionClick)="quantityDecrement(activeProduct.orderItem.id)"
              [disabled]="!activeProduct.orderItem.isQuantityDecrementActive()"
              [icon]="['fas', 'minus']"
            ></rr-shop-clickable-action>
            <rr-shop-clickable-action
              (actionClick)="quantityIncrement(activeProduct.orderItem.id)"
              [disabled]="!activeProduct.orderItem.isQuantityIncrementActive()"
              [icon]="['fas', 'plus']"
            ></rr-shop-clickable-action>
          </div>
        </div>

        <div
          *ngIf="activeProduct.orderItem.isProductQuantityExceededTextVisible()"
          class="Product-alreadyInBasketNotification u-form-error-container"
        >
          Niestety nie posiadamy tylu sztuk produktu na magazynie :(
          <br />
          Dostępnych na magazynie: <b>{{ activeProduct.quantity }}</b>
        </div>
        <div
          *ngIf="activeProduct.orderItem.isProductQuantityReached()"
          class="Product-alreadyInBasketNotification u-form-warning-container"
        >
          Nie można dodać więcej sztuk
          <br />
          Dostępnych na magazynie: <b>{{ activeProduct.quantity }}</b>
        </div>
      </ng-container>

      <div *ngIf="!activeProduct.orderItem" class="Product-notInBasketYet">
        <rr-shop-clickable-action
          *ngIf="activeProduct.quantity !== 0; else notAvailable"
          (actionClick)="addToOrder(activeProduct)"
          [label]="'Do koszyka'"
          [icon]="['fas', 'shopping-basket']"
        ></rr-shop-clickable-action>

        <ng-template #notAvailable>
          <span>Produkt niedostępny</span>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="u-formatted-content Product-description" markdown [data]="activeProduct.description"></div>
</div>
