@import 'configs-and-mixins';

.Product {
  .Product-imageContainer {
    margin-bottom: 2 * $gutter-width;
    > * {
      display: block;
      height: 300px;
      width: 300px;
      margin: 0 auto;
    }
  }

  .Product-overviewContainer {
    margin-bottom: 2 * $gutter-width;

    h2 {
      margin-bottom: 24px;
    }

    .Product-price {
      font-size: 20px;
      color: $product-box-price-color;
      font-weight: bold;
      padding: 16px 0;
    }

    .Product-alreadyInBasketQuantity {
      padding-bottom: 16px;
      display: block;
    }

    .Product-alreadyInBasketActions {
      padding-bottom: 16px;
      > *:nth-child(2) {
        margin-left: 16px;
      }
      > *:nth-child(3) {
        margin-left: 4px;
      }
    }
  }

  .Product-description {
    padding-top: 24px;
    margin-bottom: 64px;
    font-size: 14px;
    line-height: 1.6em;
    ::ng-deep h4 {
      margin-top: 10px;
      margin-bottom: 8px;
    }
    ::ng-deep h4:first-child {
      margin-top: 0;
    }
    ::ng-deep p {
    }
  }
}
