@import '~src/styles/configs-and-mixins';

.ProductsList-more {
  text-align: center;
  float: left;
  width: 100%;
  > * {
    display: inline-block;
  }
}

.ProductsList-4ColumnsRowSeparator,
.ProductsList-3ColumnsRowSeparator,
.ProductsList-2ColumnsRowSeparator {
  float: left;
  width: 100%;
  display: none;
}

.ProductsList-4ColumnsRowSeparator {
  @include viewport-desktop-extra-large-only {
    display: block;
  }
}

.ProductsList-3ColumnsRowSeparator {
  @include viewport-desktop-medium-only {
    display: block;
  }
  @include viewport-desktop-large-only {
    display: block;
  }
}

.ProductsList-2ColumnsRowSeparator {
  @include viewport-phone-horizontal-only {
    display: block;
  }
  @include viewport-tablet-only {
    display: block;
  }
}
