<ng-container
  *ngTemplateOutlet="
    template;
    context: {
      products: products$ | async
    }
  "
></ng-container>
<ng-template #template let-products="products">
  <div class="row">
    <div class="col-sm-6">
      <h2>Category</h2>
    </div>
    <div class="col-sm-6">
      fdsfds
    </div>
  </div>

  <div class="row">
    <div class="col-sx-12">
      <rr-shop-product-box-compact *ngFor="let product of products" [product]="product"></rr-shop-product-box-compact>
    </div>
  </div>
</ng-template>
