@import 'configs-and-mixins';

.Category {
}

.Category-noProducts {
  text-align: center;
  padding: 32px 0;
  background-color: $secondary-background-color;
}

.Category-4ColumnsRowSeparator,
.Category-3ColumnsRowSeparator,
.Category-2ColumnsRowSeparator {
  float: left;
  width: 100%;
  display: none;
}

.Category-4ColumnsRowSeparator {
  @include viewport-desktop-extra-large-only {
    display: block;
  }
}

.Category-3ColumnsRowSeparator {
  @include viewport-desktop-medium-only {
    display: block;
  }
  @include viewport-desktop-large-only {
    display: block;
  }
}

.Category-2ColumnsRowSeparator {
  @include viewport-phone-only {
    display: block;
  }
  @include viewport-tablet-only {
    display: block;
  }
}
