<td class="OrderItemOverview-name">
  <div>
    <rr-shop-image
      [images]="orderItem.productStore?.images"
      [sizeImage]="SizeImage.Px0128"
      [sizeImageContainer]="SizeImageContainer.Px0064"
      class="OrderItemOverview-image"
    ></rr-shop-image>
    <div>
      <a [routerLink]="orderItem?.productStore | productUrl">
        {{ orderItem.productStore?.name }}
      </a>

      <div class="hidden-md hidden-lg hidden-xlg">
        {{ orderItem.productStore?.priceUnit | price }}
        x
        {{ orderItem.quantity }}
        =
        {{ orderItem.getPriceTotalOriginal() | price }}
      </div>

      <div
        *ngIf="orderItem.isProductQuantityExceeded()"
        class="OrderItemOverview-alreadyInBasketNotification u-form-error-container"
      >
        Niestety nie jest możliwe dodanie tylu sztuk tego produktu
        <ng-container *ngIf="orderItem.productStore?.quantity === 0">
          <br /><br />
          <b>Prosimy usunąć ten produkt z koszyka przed złożeniem zamówienia</b>
        </ng-container>
        <ng-container *ngIf="orderItem.productStore?.quantity > 0">
          <br /><br />
          <b>Prosimy zredukować liczbę produktów dodanych do koszyka przed złożeniem zamówienia</b>
        </ng-container>
      </div>

      <div
        *ngIf="orderItem.isProductQuantityReached()"
        class="OrderItemOverview-alreadyInBasketNotification u-form-warning-container"
      >
        Nie można dodać więcej sztuk
      </div>
    </div>
  </div>

  <div class="OrderItemOverview-aggregation hidden-md hidden-lg hidden-xlg">
    <div>
      <rr-shop-clickable-action
        (actionClick)="remove(orderItem.id)"
        [icon]="['far', 'trash-alt']"
      ></rr-shop-clickable-action>
      <rr-shop-clickable-action
        (actionClick)="quantityDecrement(orderItem.id)"
        [disabled]="!orderItem.isQuantityDecrementActive()"
        [icon]="['fas', 'minus']"
      ></rr-shop-clickable-action>
      <rr-shop-clickable-action
        (actionClick)="quantityIncrement(orderItem.id)"
        [disabled]="!orderItem.isQuantityIncrementActive()"
        [icon]="['fas', 'plus']"
      ></rr-shop-clickable-action>
    </div>
  </div>
</td>
<td class="OrderItemOverview-quantity hidden-xxs hidden-xs hidden-sm">
  <div>
    <rr-shop-clickable-action
      (actionClick)="quantityDecrement(orderItem.id)"
      [disabled]="!orderItem.isQuantityDecrementActive()"
      [icon]="['fas', 'minus']"
    ></rr-shop-clickable-action>
    <span>
      {{ orderItem.quantity }}
    </span>
    <rr-shop-clickable-action
      (actionClick)="quantityIncrement(orderItem.id)"
      [disabled]="!orderItem.isQuantityIncrementActive()"
      [icon]="['fas', 'plus']"
    ></rr-shop-clickable-action>
  </div>
</td>
<td class="OrderItemOverview-price hidden-xxs hidden-xs hidden-sm">
  <span>
    {{ orderItem.productStore?.priceUnit | price }}
  </span>
</td>
<td class="OrderItemOverview-itemPrice hidden-xxs hidden-xs hidden-sm">
  <span>
    {{ orderItem.getPriceTotalOriginal() | price }}
  </span>
</td>
<td class="OrderItemOverview-actions hidden-xxs hidden-xs hidden-sm">
  <rr-shop-clickable-action
    (actionClick)="remove(orderItem.id)"
    [icon]="['far', 'trash-alt']"
  ></rr-shop-clickable-action>
</td>
