<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-id">Id</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input id="admin-category-form-id" class="u-form-input" type="text" [value]="category.id" disabled />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-name">Nazwa</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input id="admin-category-form-name" class="u-form-input" type="text" [(ngModel)]="category.name" />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-structural-node">StructuralNode</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input
      id="admin-category-form-structural-node"
      class="u-form-input"
      type="text"
      [value]="category.structuralNode"
      disabled
    />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-slug">Slug</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input id="admin-category-form-slug" class="u-form-input" type="text" [value]="category.slug" disabled />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-content">Opis</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <textarea
      id="admin-category-form-content"
      class="u-form-input u-monospace"
      type="text"
      style="height: 400px; font-size: 11px;"
      [(ngModel)]="category.content"
    ></textarea>
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-is-not-clickable">Czy nie klikalny</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input
      id="admin-category-form-is-not-clickable"
      class="u-form-input"
      type="checkbox"
      [(ngModel)]="category.isNotClickable"
    />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-is-without-products">Czy bez produktów</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input
      id="admin-category-form-is-without-products"
      class="u-form-input"
      type="checkbox"
      [(ngModel)]="category.isWithoutProducts"
    />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-is-hidden">Czy ukryty</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input id="admin-category-form-is-hidden" class="u-form-input" type="checkbox" [(ngModel)]="category.isHidden" />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-created-at">Utworzono</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input
      id="admin-category-form-created-at"
      class="u-form-input"
      type="text"
      [value]="category.createdAt | dateCustom"
      disabled
    />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-updated-at">Zmodyfikowano</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <input
      id="admin-category-form-updated-at"
      class="u-form-input"
      type="text"
      [value]="category.updatedAt | dateCustom"
      disabled
    />
  </div>
</div>

<div class="row">
  <div class="col-xxs-3 margin-bottom">
    <label class="u-form-label" for="admin-category-form-parent-id">Rodzic</label>
  </div>
  <div class="col-xxs-9 margin-bottom">
    <select class="u-form-input" id="admin-category-form-parent-id" [(ngModel)]="category.parentId">
      <option [value]="null">-- brak --</option>
      <option *ngFor="let item of categories" [value]="item.id">{{ item.name }}</option>
    </select>
  </div>
</div>
