<div class="CategoryNode">
  <a
    *ngIf="!isRoot"
    [routerLink]="category | categoryUrl"
    [ngClass]="{ 'CategoryNode-link--active': category.activeLevel === 1 }"
  >
    {{ category.name }} <span>{{ productsCount$ | async }}</span>
  </a>

  <!-- TODO simplify condition -->
  <ul *ngIf="isRoot || ((childCategories$ | async).length && category.activeLevel)">
    <li *ngFor="let childCategory of childCategories$ | async; trackBy: trackBy">
      <rr-shop-category-node [category]="childCategory"></rr-shop-category-node>
    </li>
  </ul>
</div>
