<div class="Main">
  <img class="Main-motto" src="../../../assets/motto.jpg" width="2444" height="1268" />

  <div class="Main-section">
    <h2>
      {{ (categoryRecommended$ | async)?.name }}
    </h2>
    <rr-shop-products-list
      [category]="categoryRecommended$ | async"
      [isCategoryButtonVisible]="true"
      [noProductsMessage]="'Brak produktów w tej kategorii'"
      [products]="productsRecommended$ | async"
    ></rr-shop-products-list>
  </div>

  <div class="Main-section">
    <h2>
      {{ (categoryPromotions$ | async)?.name }}
    </h2>
    <rr-shop-products-list
      [category]="categoryPromotions$ | async"
      [isCategoryButtonVisible]="true"
      [noProductsMessage]="'Brak promocji - pracujemy nad tym, aby jak najszybciej się tutaj pojawiły :)'"
      [products]="productsPromotions$ | async"
    ></rr-shop-products-list>
  </div>
</div>
