<div class="Main">
  <div *ngIf="(categoriesMainPageSlider$ | async)?.length" class="Main-section">
    <rr-shop-slider-category [categories]="categoriesMainPageSlider$ | async"></rr-shop-slider-category>
  </div>

  <div *ngFor="let categoryMainPage of categoriesMainPage$ | async" class="Main-section">
    <rr-shop-category-products
      [category]="categoryMainPage"
      [moreProductsButtonText]="categoryMainPage.linkText"
      [productsLimit]="MAIN_PAGE_PRODUCTS_IN_SECTION_LIMIT"
    ></rr-shop-category-products>
  </div>
</div>
