<div class="AdminMenu">
  <a [routerLink]="'/admin'" [routerLinkActive]="'AdminMenu-link--active'" [routerLinkActiveOptions]="{ exact: true }">
    Logowanie
  </a>
  <a [routerLink]="'/admin/order'" [routerLinkActive]="'AdminMenu-link--active'">Zamówienia</a>
  <a [routerLink]="'/admin/product'" [routerLinkActive]="'AdminMenu-link--active'">Produkty</a>
  <a [routerLink]="'/admin/category'" [routerLinkActive]="'AdminMenu-link--active'">Kategorie</a>
  <a [routerLink]="'/admin/image'" [routerLinkActive]="'AdminMenu-link--active'">Obrazki</a>
</div>
