@import 'configs-and-mixins';

a {
  position: relative;
  display: block;

  > *:first-child {
    display: block;
    position: absolute;
    color: $color;
  }

  > *:last-child {
    display: block;
    padding-left: 30px;
    padding-top: 4px;
    min-height: 24px;
    margin-bottom: $gutter-width;
    color: $color;
    text-decoration: underline;
  }
}
