<!-- TODO Product/Articles connection needs to be refactored -->

<!--<ng-container *ngIf="category$ | async as category">-->
<!--  <ng-container *ngIf="category?.parent?.structuralNode === StructuralNode.Articles">-->
<!-- category | categoryUrl -->
<a [routerLink]="categoryArticles$ | async | categoryUrl">
  <rr-shop-icon [width]="24" [height]="24" [iconType]="IconType.FarLightbulb"></rr-shop-icon>
  <span>
    <!-- {{ category.name }} -->
    Dowiedz się więcej
  </span>
</a>
<!--  </ng-container>-->
<!--</ng-container>-->
