@import 'configs-and-mixins';

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  th {
    padding: 2px 3px;
    border: 1px solid $border-color;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
    font-family: Calibri, serif;
    line-height: 1em;
  }

  tr.tr-green {
    background-color: #dff3df;
  }

  tr.tr-orange {
    background-color: #f3e7df;
  }

  tr.tr-red {
    background-color: #f3dfdf;
  }

  td {
    padding: 2px 3px;
    border: 1px solid $border-color;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
    font-family: Calibri, serif;
    line-height: 1em;
  }
}
