@import 'configs-and-mixins';

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  th {
    padding: 3px 3px;
    border: 1px solid $border-color;
    vertical-align: top;
    text-align: left;
  }

  td {
    padding: 3px 3px;
    border: 1px solid $border-color;
    vertical-align: top;
    text-align: left;
  }
}
