<div class="HeaderSticky-container">
  <div
    class="HeaderSticky"
    [ngClass]="{
      'HeaderSticky--active': scrolledDownThatHeaderIsNotVisible$ | async
    }"
  >
    <div class="container">
      <div class="row padding-top padding-bottom">
        <div class="col-xxs-12 col-sm-5 col-md-6">
          <rr-shop-top-menu></rr-shop-top-menu>
        </div>

        <div class="HeaderSticky-topSearchAndOrderButtonsContainer col-xxs-12 col-sm-7 col-md-6">
          <div class="HeaderSticky-topSearch">
            <rr-shop-top-search></rr-shop-top-search>
          </div>

          <div class="HeaderSticky-orderButtonBig hidden-xxs">
            <rr-shop-clickable-action
              [clickableActionTheme]="ClickableActionTheme.Primary"
              [clickableActionType]="ClickableActionType.RouterLink"
              [disabled]="(potentialOrder$ | async)?.isBasketEmpty()"
              [link]="'/potential-order'"
              [icon]="['fas', 'shopping-basket']"
              [label]="'Twój koszyk'"
              [number]="(potentialOrder$ | async)?.getQuantityTotal([Type.Product])"
            ></rr-shop-clickable-action>
          </div>
          <div class="HeaderSticky-orderButtonSmall hidden-sm hidden-md hidden-lg">
            <rr-shop-clickable-action
              [clickableActionTheme]="ClickableActionTheme.Primary"
              [clickableActionType]="ClickableActionType.RouterLink"
              [disabled]="(potentialOrder$ | async)?.isBasketEmpty()"
              [icon]="['fas', 'shopping-basket']"
              [link]="'/potential-order'"
              [number]="(potentialOrder$ | async)?.getQuantityTotal([Type.Product])"
            ></rr-shop-clickable-action>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
