@import 'configs-and-mixins';

.HeaderSticky-phoneVertical {
  display: none;

  .HeaderSticky-searchAndBasket {
    padding: $gutter-width $gutter-width + 50px $gutter-width $gutter-width;
    position: relative;
    > * {
      display: block;
    }
    > *:last-child {
      z-index: 1000;
      position: absolute;
      top: $gutter-width;
      right: $gutter-width;
      transition: opacity 0.25s;
    }
  }
  .HeaderSticky-menu > * {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  @include viewport-phone-vertical-only {
    display: block;
  }
}

.HeaderSticky--active {
  .HeaderSticky-phoneVertical .HeaderSticky-searchAndBasket > *:last-child {
    position: fixed;
    opacity: 1;
  }
}

// --------------------------------------------------

.HeaderSticky-phoneHorizontal {
  display: none;

  .HeaderSticky-searchAndBasket {
    padding: $gutter-width;
    position: relative;
    > * {
      display: block;
    }
    > *:nth-child(1) {
      float: left;
      width: 55%;
    }
    > *:nth-child(2) {
      float: right;
      position: relative;
      z-index: 1001;
    }
    > *:nth-child(3) {
      float: right;
      z-index: 1000;
      position: absolute;
      top: $gutter-width;
      right: $gutter-width + 12px;
      transition: opacity 0.25s;
      opacity: 0;
    }
  }
  .HeaderSticky-menu > * {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  @include viewport-phone-horizontal-only {
    display: block;
  }
}

.HeaderSticky--active {
  .HeaderSticky-phoneHorizontal .HeaderSticky-searchAndBasket > *:nth-child(3) {
    position: fixed;
    opacity: 1;
  }
}

// --------------------------------------------------

.HeaderSticky-tablet {
  display: none;
  padding: 0.5 * $gutter-width 0;

  @include viewport-tablet-only {
    display: block;
  }
}

// --------------------------------------------------

.HeaderSticky-desktop {
  display: none;
}

@include viewport-desktop-medium-and-up {
  $bar-padding-one-size-vertical: $gutter-width;
  $bar-height: 40px;

  .HeaderSticky-desktop {
    transition: height 0.25s;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $primary-background-color;
    overflow: hidden;
    height: 0;

    > div {
      padding-top: $bar-padding-one-size-vertical;
      padding-bottom: $bar-padding-one-size-vertical;

      > div:first-child {
        float: left;
      }
      > div:last-child {
        float: right;
        > * {
          display: inline-block;
        }
        > *:first-child {
          margin-right: $gutter-width;

          @include viewport-desktop-medium-only {
            width: 230px;
          }

          @include viewport-desktop-large-only {
            width: 380px;
          }

          @include viewport-desktop-extra-large-and-up {
            width: 480px;
          }
        }
      }
    }
  }

  .HeaderSticky--active {
    .HeaderSticky-desktop {
      height: $bar-height + 2 * $bar-padding-one-size-vertical;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    }
  }
}
