@import 'configs-and-mixins';

.HeaderSticky-phoneVerticalAndPhoneHorizontal {
  display: none;

  .HeaderSticky-searchAndBasket {
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
    padding-left: $gutter-width;
    position: relative;
    > * {
      display: block;
    }
    > *:not(:first-child) {
      position: absolute;
      top: $gutter-width;
      right: $gutter-width;
      transition: opacity 0.25s;
    }
    > *:nth-child(2) {
      z-index: 1000;
    }
    > *:nth-child(3) {
      z-index: 1001;
    }

    @include viewport-phone-vertical-only {
      padding-right: $gutter-width + 50px;
    }

    @include viewport-phone-horizontal-only {
      padding-right: $gutter-width + 175px;
      > *:nth-child(2) {
        opacity: 0;
        right: $gutter-width + 12px;
      }
    }
  }
  .HeaderSticky-menu > * {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  @include viewport-phone-vertical-only {
    display: block;
  }
  @include viewport-phone-horizontal-only {
    display: block;
  }
}

.HeaderSticky--active {
  .HeaderSticky-phoneVerticalAndPhoneHorizontal .HeaderSticky-searchAndBasket > *:nth-child(2) {
    position: fixed;
    opacity: 1;
  }
}

// --------------------------------------------------

.HeaderSticky-tablet {
  display: none;
  padding: 0.5 * $gutter-width 0;

  @include viewport-tablet-only {
    display: block;
  }
}

// --------------------------------------------------

.HeaderSticky-desktop {
  display: none;
}

@include viewport-desktop-medium-and-up {
  $bar-padding-one-size-vertical: $gutter-width;
  $bar-height: 40px;

  .HeaderSticky-desktop {
    transition: height 0.25s;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $primary-background-color;
    overflow: hidden;
    height: 0;

    > div {
      padding-top: $bar-padding-one-size-vertical;
      padding-bottom: $bar-padding-one-size-vertical;

      > div:first-child {
        float: left;
      }
      > div:last-child {
        float: right;
        > * {
          display: inline-block;
        }
        > *:first-child {
          width: 230px;
          margin-right: $gutter-width;
        }
      }
    }
  }

  .HeaderSticky--active {
    .HeaderSticky-desktop {
      height: $bar-height + 2 * $bar-padding-one-size-vertical;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    }
  }
}
