<div
  class="HeaderSticky"
  [ngClass]="{
    'HeaderSticky--active': scrolledDownThatHeaderIsNotVisible$ | async
  }"
>
  <div class="HeaderSticky-phoneVertical">
    <div class="HeaderSticky-searchAndBasket">
      <rr-shop-top-search></rr-shop-top-search>
      <rr-shop-top-basket [showLabel]="false"></rr-shop-top-basket>
    </div>
    <div class="HeaderSticky-menu"><rr-shop-top-menu [align]="Align.Center"></rr-shop-top-menu></div>
  </div>

  <!-- ------------------ -->

  <div class="HeaderSticky-phoneHorizontal">
    <div class="HeaderSticky-searchAndBasket clearfix">
      <rr-shop-top-search></rr-shop-top-search>
      <rr-shop-top-basket [showLabel]="true"></rr-shop-top-basket>
      <rr-shop-top-basket [showLabel]="false"></rr-shop-top-basket>
    </div>
    <div class="HeaderSticky-menu"><rr-shop-top-menu [align]="Align.Center"></rr-shop-top-menu></div>
  </div>

  <!-- ------------------ -->

  <div class="HeaderSticky-tablet">
    <div class="container">
      <rr-shop-top-menu [align]="Align.Left"></rr-shop-top-menu>
      <rr-shop-top-basket [showLabel]="false"></rr-shop-top-basket>
    </div>
  </div>

  <!-- ------------------ -->

  <div class="HeaderSticky-desktop">
    <div class="container clearfix">
      <div>
        <rr-shop-top-menu [align]="Align.Right" class="hidden-xlg"></rr-shop-top-menu>
        <rr-shop-top-menu [align]="Align.Right" [isWide]="true" class="hidden-md hidden-lg"></rr-shop-top-menu>
      </div>
      <div>
        <rr-shop-top-search></rr-shop-top-search>
        <rr-shop-top-basket [showLabel]="true"></rr-shop-top-basket>
      </div>
    </div>
  </div>
</div>
