<div
  class="HeaderSticky"
  [ngClass]="{
    'HeaderSticky--active': scrolledDownThatHeaderIsNotVisible$ | async
  }"
>
  <div class="HeaderSticky-phoneVerticalAndPhoneHorizontal">
    <div class="HeaderSticky-searchAndBasket">
      <rr-shop-top-search></rr-shop-top-search>
      <rr-shop-top-basket [showLabel]="false"></rr-shop-top-basket>
      <rr-shop-top-basket [showLabel]="true" class="hidden-xxs"></rr-shop-top-basket>
    </div>
    <div class="HeaderSticky-menu"><rr-shop-top-menu [align]="Align.Center"></rr-shop-top-menu></div>
  </div>

  <div class="HeaderSticky-tablet">
    <div class="container">
      <rr-shop-top-menu [align]="Align.Left"></rr-shop-top-menu>
    </div>
  </div>
  <!--  <div class="HeaderSticky-phone"></div>-->

  <!--
  <div class="container">
    <div class="row HeaderSticky-content">
      <div class="col-xxs-12 col-md-4">
        <rr-shop-top-search></rr-shop-top-search>
      </div>

      <div class="col-xxs-12 col-md-4">
        <rr-shop-top-basket></rr-shop-top-basket>
      </div>

      <div class="col-xxs-12 col-md-4">
        <rr-shop-top-menu></rr-shop-top-menu>
      </div>
    </div>
  </div>
  -->
</div>
