@import 'configs-and-mixins';

.HeaderSticky-container {
  min-height: 70px;
}

.HeaderSticky {
  background-color: $primary-background-color;
  outline: 1px solid yellow;
  //
  //&.HeaderSticky--active {
  //  position: fixed;
  //  top: 0;
  //  right: 0;
  //  left: 0;
  //  z-index: 1000;
  //}
}

.HeaderSticky-content {
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  height: 40px + $gutter-width * 2;
}

// --------------------------------------------------

.HeaderSticky-phoneVertical {
  .HeaderSticky-searchAndBasket {
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
    padding-left: $gutter-width;
    position: relative;
    > * {
      display: block;
    }
    > *:not(:first-child) {
      position: absolute;
      top: $gutter-width;
      right: $gutter-width;
      transition: opacity 0.25s;
    }
    > *:nth-child(2) {
      z-index: 1000;
    }
    > *:nth-child(3) {
      z-index: 1001;
    }

    @include viewport-phone-vertical-only {
      padding-right: $gutter-width + 50px;
    }

    @include viewport-phone-only {
      padding-right: $gutter-width + 175px;
      > *:nth-child(2) {
        opacity: 0;
        right: $gutter-width + 12px;
      }
    }
  }
  .HeaderSticky-menu > * {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}

.HeaderSticky--active {
  .HeaderSticky-phoneVertical .HeaderSticky-searchAndBasket > *:nth-child(2) {
    position: fixed;
    opacity: 1;
  }
}

// --------------------------------------------------
