<div class="Bar" *ngIf="bars$ | async as bars">
  <div class="container">
    <div
      *ngFor="let bar of bars; trackBy: trackBy"
      [ngClass]="{
        'Bar-message--success': BarType.Success === bar.type,
        'Bar-message--error': BarType.Error === bar.type
      }"
      [ngStyle]="{ zIndex: 2000 + bar.id }"
      class="Bar-message"
    >
      <div>
        {{ bar.message }}
      </div>
      <div>
        <rr-shop-clickable-action
          (actionClick)="close(bar.id)"
          [icon]="['far', 'times-circle']"
          [clickableActionTheme]="
            BarType.Error === bar.type ? ClickableActionTheme.TransparentBright : ClickableActionTheme.TransparentDark
          "
        ></rr-shop-clickable-action>
      </div>
    </div>
  </div>
</div>
