@import 'configs-and-mixins';

.Bar {
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;

  .Bar-message {
    $message-padding: 8px;

    width: 80%;
    min-width: 300px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
    border-radius: 20px;
    padding: $message-padding;
    position: relative;
    font-size: 16px;
    line-height: 1.5em;
    margin: 4px auto 0 auto;
    color: $white-color;

    a {
      color: $white-color;
      text-decoration: underline;
    }

    > div:first-child {
      min-height: 40px;
      padding: 8px 50px 8px 8px;
    }
    > div:last-child {
      position: absolute;
      top: $message-padding;
      right: $message-padding;
      > * {
        display: block;
      }
    }
  }

  .Bar-message--error {
    background-color: $red-color;
  }

  .Bar-message--notification {
    background-color: $green-color;
  }

  .Bar-message--success {
    background-color: $green-color;
  }
}

.BarMessage-cookie {
  > div:first-child {
    padding-bottom: 8px;
    text-align: justify;
  }
  > div:last-child {
    text-align: right;
    > * {
      display: inline-block;
    }
  }
}
