@import 'configs-and-mixins';

.Bar {
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.Bar-item {
  width: 80%;
  min-width: $min-viewport-width - 2 * $gutter-width;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
  border-radius: 20px;
  padding: 1.5 * $gutter-width;
  position: relative;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0.5 * $gutter-width auto 0 auto;
  color: $white-color;

  a {
    color: $white-color;
    text-decoration: underline;
  }

  .Bar-itemMessage {
    padding: 0 50px 0 0;
    white-space: pre-line;
  }
  .Bar-itemClose {
    position: absolute;
    top: $gutter-width;
    right: $gutter-width;
    > * {
      display: block;
    }
  }
}

.Bar-item--error {
  background-color: $red-color;
}

.Bar-item--notification {
  background-color: $green-color;
}

.Bar-item--success {
  background-color: $green-color;
}

// -------------------------------------------

.Bar-cookie {
  padding: 0 !important;

  > div {
    > div:first-child {
      text-align: justify;
      padding-bottom: 1.5 * $gutter-width;

      @include viewport-desktop-large-and-up {
        padding-bottom: 0;
      }
    }
    > div:last-child {
      text-align: right;
      > * {
        display: inline-block;
      }
    }
  }
}
