@import 'configs-and-mixins';

.Bar {
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;

  .Bar-message {
    $message-padding: 8px;

    width: 80%;
    min-width: 300px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.33);
    padding: $message-padding;
    position: relative;
    margin: 4px auto 0 auto;
    color: $white-color;

    div:first-child {
      min-height: 40px;
      padding: 12px 50px 12px 4px;
    }
    div:last-child {
      position: absolute;
      top: $message-padding;
      right: $message-padding;
    }
  }

  .Bar-message--error {
    background-color: $red-color;
  }

  .Bar-message--success {
    background-color: $a-color;
  }
}
