<div class="Bar" *ngIf="bars$ | async as bars">
  <div class="container">
    <div
      *ngFor="let bar of bars; trackBy: trackBy"
      [ngClass]="{
        'Bar-message--success': BarType.Success === bar.type,
        'Bar-message--error': BarType.Error === bar.type
      }"
      [ngStyle]="{ zIndex: 2000 + bar.id }"
      class="Bar-message"
    >
      <div>
        {{ bar.message }}
      </div>
      <div>
        <rr-shop-clickable-action
          (actionClick)="close(bar.id)"
          [iconType]="IconType.FarTimesCircle"
          [clickableActionTheme]="ClickableActionTheme.TransparentBright"
        ></rr-shop-clickable-action>
      </div>
    </div>
  </div>
</div>
