@import 'configs-and-mixins';

.Logo {
  a {
    $logo-width: 355px;
    $logo-height: 140px;
    $logo-smaller-width: $min-viewport-width - 2 * $gutter-width;
    $logo-smaller-height: round($logo-smaller-width * ($logo-height / $logo-width));

    margin: 0 auto;
    width: $logo-smaller-width;
    height: $logo-smaller-height;

    @include viewport-phone-horizontal-and-up {
      width: $logo-width;
      height: $logo-height;
    }
    @include viewport-tablet-and-up {
      margin: 0;
    }
  }
  h1 {
    background: url('../../../assets/logo-v2.png') no-repeat top left;
    background-size: 100% 100%;
    overflow: hidden;
    text-indent: -99em;
    width: 100%;
    height: 100%;
  }
  a,
  h1 {
    display: block;
  }
}
