<rr-shop-admin-menu></rr-shop-admin-menu>

<h2>Admin / logowanie</h2>

<div class="AdminLogin">
  <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate id="admin-login-form">
    <div class="row margin-bottom">
      <div class="col-xxs-4 AdminLogin-label">
        <label class="form-label" for="username">Login:</label>
      </div>
      <div class="col-xxs-8">
        <input
          [ngClass]="{ 'form-input--invalid': submitted && formGroup.controls.username.errors }"
          autocomplete="admin-login"
          class="form-input"
          formControlName="username"
          id="username"
          type="text"
        />
      </div>
    </div>

    <div class="row margin-bottom">
      <div class="col-xxs-4 AdminLogin-label">
        <label class="form-label" for="password">Hasło:</label>
      </div>
      <div class="col-xxs-8">
        <input
          [ngClass]="{ 'form-input--invalid': submitted && formGroup.controls.password.errors }"
          autocomplete="admin-password"
          class="form-input"
          formControlName="password"
          id="password"
          type="password"
        />
      </div>
    </div>

    <div class="row margin-bottom">
      <div class="col-xxs-4"></div>
      <div class="col-xxs-8">
        <div *ngIf="error">
          <div>Błąd logowania</div>
          <div>{{ error?.error?.errorMessage }}</div>
        </div>
      </div>
    </div>

    <div class="row margin-bottom">
      <div class="col-xxs-4"></div>
      <div class="col-xxs-8">
        <button [disabled]="submitted" type="submit">Zaloguj</button>
      </div>
    </div>
  </form>
</div>
