<div
  [ngClass]="{
    'u-block-overlay':
      supplyAdminCall?.adminCallState === AdminCallState.Request ||
      supplyWriteRequestAdminCall?.adminCallState === AdminCallState.Request
  }"
>
  <rr-shop-admin-menu></rr-shop-admin-menu>

  <h2>
    Admin / dostawa / nowa
  </h2>

  <ng-container *ngIf="supplyAdminCall?.data">
    <div class="u-admin-section u-admin-form">
      <rr-shop-admin-supply-form [supply]="supplyAdminCall?.data"></rr-shop-admin-supply-form>

      <div class="row">
        <div></div>
        <div class="col-xxs-9 col-xxs-offset-3 margin-bottom">
          <rr-shop-clickable-action (actionClick)="create()" [label]="'Utwórz'"></rr-shop-clickable-action>
        </div>
      </div>
    </div>

    <div class="u-admin-section">
      <h4>Surowe dane :)</h4>
      <div>
        <pre class="u-formatted-json">{{ supplyAdminCall?.data | json }}</pre>
      </div>
    </div>
  </ng-container>
</div>
