<div class="BaseSlider SliderCategory">
  <ng-container *ngIf="getLength() <= 1; else fullSlider" class="BaseSlider">
    <ng-container
      *ngIf="getLength() === 1"
      [ngTemplateOutlet]="slide"
      [ngTemplateOutletContext]="{ category: categories[0] }"
    ></ng-container>
  </ng-container>

  <ng-template #fullSlider>
    <div class="BaseSlider-viewport" (mouseenter)="intervalStop()" (mouseleave)="intervalReset()">
      <div class="BaseSlider-longBar" [ngStyle]="{ left: -(current * 100) + '%' }">
        <div *ngFor="let category of categories; trackBy: trackBy" class="BaseSlider-contentContainer">
          <ng-container [ngTemplateOutlet]="slide" [ngTemplateOutletContext]="{ category: category }"></ng-container>
        </div>
      </div>

      <div *ngIf="getLength() > 1" class="BaseSlider-previous">
        <div>
          <rr-shop-clickable-action
            (actionClick)="onPreviousClick()"
            [clickableActionType]="ClickableActionType.Button"
            [iconType]="IconType.FasArrowLeft"
            [disabled]="isDisabledPrevious()"
          ></rr-shop-clickable-action>
        </div>
      </div>
      <div *ngIf="getLength() > 1" class="BaseSlider-next">
        <div>
          <rr-shop-clickable-action
            (actionClick)="onNextClick()"
            [clickableActionType]="ClickableActionType.Button"
            [iconType]="IconType.FasArrowRight"
            [disabled]="isDisabledNext()"
          ></rr-shop-clickable-action>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #slide let-category="category">
  <!-- TODO implement linked pages
    <a href="" [innerHTML]="category.content | safeHtml">
      <pre>{{ category | json }}</pre>
    </a>
  -->

  <div class="BaseSlider-content" [innerHTML]="category.content | safeHtml"></div>
</ng-template>
