<div class="PotentialOrder">
  <div class="PotentialOrder-section">
    <h2>Twój koszyk</h2>
    <rr-shop-order-overview></rr-shop-order-overview>
  </div>

  <div class="row">
    <div class="col-xxs-12 col-md-6">
      <div class="PotentialOrder-section">
        <h2>Dostawa</h2>
        <rr-shop-delivery-overview></rr-shop-delivery-overview>
      </div>
    </div>

    <div class="col-xxs-12 col-md-6">
      <div class="PotentialOrder-section">
        <h2>Płatność</h2>
        <rr-shop-payment-overview></rr-shop-payment-overview>
      </div>
    </div>
  </div>

  <!--
    <h2>Dane klienta</h2>
    <div class="OrderOverview-section">
    </div>
  -->

  <pre style="height: 120px; overflow: auto; font-size: 10px; line-height: 1.1em;">{{
    potentialOrder$ | async | json
  }}</pre>

  <h2>Kod rabatowy</h2>
  <div class="PotentialOrder-section PotentialOrder-promoCode">
    <form *ngIf="(apiCallPromoCode$ | async) === ApiCall.Initial" [formGroup]="promoCodeFormGroup" novalidate>
      <input
        type="text"
        formControlName="promoCodeTextField"
        [ngClass]="{
          'form-input--invalid': promoCodeSubmitted && promoCodeFormGroup.controls.promoCodeTextField.errors
        }"
      />
      <rr-shop-clickable-action [label]="'Aktywuj'" (actionClick)="promoCodeOnSubmit()"></rr-shop-clickable-action>
    </form>
    <div *ngIf="(apiCallPromoCode$ | async) === ApiCall.Request">
      Wczytywanie kodu <b>{{ (potentialOrder$ | async)?.promoCodeTextField }}</b>
    </div>
    <div *ngIf="(apiCallPromoCode$ | async) === ApiCall.Failure">
      <div>
        Kod <b>{{ (potentialOrder$ | async)?.promoCodeTextField }}</b> stracił ważność lub nie istnieje
      </div>
      <rr-shop-clickable-action [label]="'Podaj inny kod'" (actionClick)="promoCodeReset()"></rr-shop-clickable-action>
    </div>
    <div *ngIf="(potentialOrder$ | async)?.promoCode">
      <div>
        Kod <b>{{ (potentialOrder$ | async).promoCode.name }}</b> daje
        {{ (potentialOrder$ | async).promoCode.percentageDiscount }}% zniżki
      </div>
      <rr-shop-clickable-action
        [label]="'Zrezygnuj z kodu'"
        (actionClick)="promoCodeReset()"
      ></rr-shop-clickable-action>
    </div>
  </div>

  <h2>Podsumowanie</h2>
  <div class="PotentialOrder-section PotentialOrder-summary">
    <div class="row">
      <div class="col-xxs-12 col-sm-5 col-md-6">
        <div class="PotentialOrder-summaryPriceNormal">
          Produkty: <span>{{ (potentialOrder$ | async)?.priceTotalProduct | price }}</span>
        </div>
        <div class="PotentialOrder-summaryPriceDelivery">
          Dostawa: <span>{{ (potentialOrder$ | async)?.priceTotalDelivery | price }}</span>
        </div>
        <div class="PotentialOrder-summaryPricePayment">
          Płatność: <span>{{ (potentialOrder$ | async)?.priceTotalPayment | price }}</span>
        </div>
      </div>

      <div class="col-xxs-12 col-sm-7 col-md-6">
        <div class="PotentialOrder-summaryPriceTotal">
          Do zapłaty: <span>{{ (potentialOrder$ | async)?.priceTotal | price }}</span>
        </div>

        <rr-shop-clickable-action
          [label]="'Złóż zamówienie'"
          (actionClick)="createOrder()"
          [disabled]="!(potentialOrder$ | async)?.isValid"
        ></rr-shop-clickable-action>
      </div>
    </div>
  </div>
</div>
