<div class="PotentialOrder">
  <div class="PotentialOrder-section">
    <h2>Zawartość koszyka</h2>
    <rr-shop-order-items-overview
      [orderItemsByProductType]="(potentialOrder$ | async)?.getOrderItemsByType([Type.Product])"
    ></rr-shop-order-items-overview>
  </div>

  <div class="row">
    <div class="col-xxs-12 col-md-6">
      <div
        [ngClass]="{
          'u-block-overlay': (potentialOrder$ | async)?.isOrderItemsListEmpty([Type.Product])
        }"
        class="PotentialOrder-section"
      >
        <h2>Dostawa</h2>
        <rr-shop-delivery-overview></rr-shop-delivery-overview>
      </div>
    </div>

    <div class="col-xxs-12 col-md-6">
      <div
        [ngClass]="{
          'u-block-overlay': (potentialOrder$ | async)?.isOrderItemsListEmpty([Type.Delivery])
        }"
        class="PotentialOrder-section"
      >
        <h2>Płatność</h2>
        <rr-shop-payment-overview></rr-shop-payment-overview>
      </div>
    </div>
  </div>

  <div
    [ngClass]="{
      'u-block-overlay': (potentialOrder$ | async)?.isOrderItemsListEmpty([Type.Payment])
    }"
    class="PotentialOrder-section PotentialOrder--withBorder"
  >
    <h2>Dane klienta</h2>
    <rr-shop-client-details></rr-shop-client-details>
  </div>

  <div
    [ngClass]="{
      'u-block-overlay': (potentialOrder$ | async)?.isClientDetailsFormActive
    }"
    class="PotentialOrder-section PotentialOrder--withBorder"
  >
    <h2>Kod rabatowy</h2>
    <rr-shop-promo-code></rr-shop-promo-code>
  </div>

  <div
    [ngClass]="{
      'u-block-overlay': (potentialOrder$ | async)?.isClientDetailsFormActive
    }"
    class="PotentialOrder-section PotentialOrder-summary"
  >
    <h2>Podsumowanie</h2>
    <div class="row">
      <div class="col-xxs-12 col-sm-5 col-md-6">
        <div class="PotentialOrder-summaryPriceNormal">
          Produkty:
          <span *ngIf="(potentialOrder$ | async)?.promoCode" class="PotentialOrder-originalPrice">
            {{ (potentialOrder$ | async)?.getPriceTotalOriginal([Type.Product]) | price }}
          </span>
          <span>
            {{ (potentialOrder$ | async)?.getPriceTotalSelling([Type.Product]) | price }}
          </span>
        </div>
        <div class="PotentialOrder-summaryPriceDelivery">
          Dostawa:
          <span *ngIf="(potentialOrder$ | async)?.promoCode" class="PotentialOrder-originalPrice">
            {{ (potentialOrder$ | async)?.getPriceTotalOriginal([Type.Delivery]) | price }}
          </span>
          <span>
            {{ (potentialOrder$ | async)?.getPriceTotalSelling([Type.Delivery]) | price }}
          </span>
        </div>
        <div class="PotentialOrder-summaryPricePayment">
          Płatność:
          <span *ngIf="(potentialOrder$ | async)?.promoCode" class="PotentialOrder-originalPrice">
            {{ (potentialOrder$ | async)?.getPriceTotalOriginal([Type.Payment]) | price }}
          </span>
          <span>
            {{ (potentialOrder$ | async)?.getPriceTotalSelling([Type.Payment]) | price }}
          </span>
        </div>
      </div>

      <div class="col-xxs-12 col-sm-7 col-md-6">
        <div class="PotentialOrder-summaryPriceTotal">
          Do zapłaty:
          <span *ngIf="(potentialOrder$ | async)?.promoCode" class="PotentialOrder-originalPrice">
            {{ (potentialOrder$ | async)?.getPriceTotalOriginal([Type.Delivery, Type.Payment, Type.Product]) | price }}
          </span>
          <span>
            {{ (potentialOrder$ | async)?.getPriceTotalSelling([Type.Delivery, Type.Payment, Type.Product]) | price }}
          </span>
        </div>

        <rr-shop-clickable-action
          [label]="'Złóż zamówienie'"
          (actionClick)="createOrder()"
          [disabled]="!(potentialOrder$ | async)?.isValid()"
        ></rr-shop-clickable-action>
      </div>
    </div>
  </div>
</div>
