@import 'configs-and-mixins';

.PotentialOrder {
  .PotentialOrder-section {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid transparent;
  }

  .PotentialOrder--withBorder {
    border-bottom-color: $border-color;
  }

  .PotentialOrder-summary {
    white-space: nowrap;

    .PotentialOrder-summaryPriceNormal,
    .PotentialOrder-summaryPriceDelivery,
    .PotentialOrder-summaryPricePayment {
      padding-bottom: 16px;
      span {
        font-weight: bold;
        display: inline-block;
        white-space: nowrap;
      }
      span:first-child {
        margin-left: 2px;
      }
      span:last-child {
        margin-left: 8px;
      }
    }
    .PotentialOrder-summaryPricePayment {
      padding-bottom: 24px;
    }

    .PotentialOrder-summaryPriceTotal {
      font-size: 20px;
      padding-bottom: 16px;
      span {
        font-weight: bold;
        display: inline-block;
        margin-left: 8px;
        white-space: nowrap;
        color: $product-box-price-color;
      }
    }
  }

  .PotentialOrder-originalPrice {
    text-decoration: line-through;
  }
}
