<div
  [ngClass]="{
    'u-block-overlay':
      distributorAdminCall?.adminCallState === AdminCallState.Request ||
      distributorWriteRequestAdminCall?.adminCallState === AdminCallState.Request
  }"
>
  <rr-shop-admin-menu></rr-shop-admin-menu>

  <h2>Admin / dystrybutor / {{ distributorAdminCall?.data?.name }}</h2>

  <div class="u-admin-section u-admin-buttons">
    <rr-shop-clickable-action (actionClick)="refresh()" label="Odśwież"></rr-shop-clickable-action>
    <rr-shop-clickable-action
      [clickableActionTheme]="ClickableActionTheme.Primary"
      [clickableActionType]="ClickableActionType.RouterLink"
      [label]="'Nowy dystrybutor'"
      [link]="'/admin/distributor/new'"
    ></rr-shop-clickable-action>
  </div>

  <ng-container *ngIf="distributorAdminCall?.data">
    <div class="u-admin-section u-admin-form">
      <rr-shop-admin-distributor-form [distributor]="distributorAdminCall?.data"></rr-shop-admin-distributor-form>

      <div class="row">
        <div></div>
        <div class="col-xxs-9 col-xxs-offset-3 margin-bottom">
          <rr-shop-clickable-action (actionClick)="save()" [label]="'Zapisz'"></rr-shop-clickable-action>
        </div>
      </div>
    </div>

    <div class="u-admin-section">
      <h4>Surowe dane :)</h4>
      <div>
        <pre class="u-formatted-json">{{ distributorAdminCall?.data | json }}</pre>
      </div>
    </div>
  </ng-container>
</div>
